---
layout: project
tags:
- work
- featured
client: Shoreline Community College
date: 2019-01-02
title: A new website for Shoreline Community College
challenge: "Shoreline wanted their website to reflect their mission to increase access to a transformative education."
impact: "I worked with the web team to design a new site as a system of atomic components that embody Shoreline's tone as an approachable authority."

role: Visual, Brand
image: "shoreline-intro_1440w.jpg"

bg-default: "#E2F6F3"
bg-muted: "#FFFFFF"
text-default: "#005D53"
text-muted: "#4F938B"
text-interactive: "#005D53"
border-default: "#005D53"
border-muted: "#B5D7D3"
---

<div class="col-wide">
    {% include "_project-image" alt: "Shoreline's homepage hovering above a green background" image: "shoreline-intro" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
    <h2>Shoreline’s new brand guidelines included only a few details about color and typography, leaving plenty of room for interpretation.</h2>
</div>

<div class="col-narrow bg-muted">
    {% include "_project-image" alt: "Print Typography Guidelines" image: "shoreline-brandguidelines" type: "png" %}
</div>

<div class="col-narrow my-24">
    <h2>They needed a system that could support the wide variety of different page and content types across their site.</h2>
    <h2 class="mt-8">Using the existing brand guidelines a starting point, I established a more capable system of text styles for use on the web.</h2>
</div>



<div class="col-wide bg-muted">
    {% include "_project-image" alt: "New web-based typography system" image: "shoreline-text-styles" type: "png" size: "100vw" %}
</div>
<p class="text-muted">Text Styles</p>

<div class="col-wide bg-muted mt-8">
    {% include "_project-image" alt: "New web-based typography system" image: "shoreline-brand-color" type: "png" size: "100vw" %}
</div>
<p class="text-muted">Brand color</p>

<div class="col-wide bg-muted mt-8">
    {% include "_project-image" alt: "New web-based typography system" image: "shoreline-typography-examples" type: "png" size: "100vw" %}
</div>
<p class="text-muted">Type system in use</p>

<div class="col-narrow my-24">
    <h2>With some well-defined common styles, components, and templates, the small web team at Shoreline could begin to replace those aging pages, working toward a more consistent, maintainable, and accessible website.</h2>
</div>

<div class="col-wide bg-muted pt-16 mt-8">
    {% include "_project-image" alt: "New web-based typography system" image: "shoreline-components" type: "png" size: "100vw" %}
</div>
<p class="text-muted">Assorted components begin to set the tone</p>

<div class="col-narrow my-24">
    <h2>Continuing to scale upward from the rebuilt typography guidelines and component systems, a series of responsive page templates were designed to support a wide variety of content types, from higher level marketing pages for prospective students, to more information-dense administrative pages for existing students and staff.</h2>
</div>

<div class="col-wide bg-[#003630] py-16 mt-8">
    {% include "_project-image" alt: "New web-based typography system" image: "shoreline-pages" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
    <h2>Designing from the start as an atomic system of repeatable styles, components, and templates allowed a very small team to efficiently build a large website with hundreds of differerent page types, and has made it possible for Shoreline’s small web team to continue iterating and refining the site.</h2>
</div>