---
layout: project
tags:
- work
- featured
client: Wonder
date: 2022-01-02
title: "Driver app for Wonder"
challenge: "Wonder delivers restaurant-quality food by cooking and finishing orders in a mobile kitchen."
impact: "I joined Wonder and Formidable to design an app to guide Drivers throughout their shift."
role: Product
image: "wonder-intro_1440w.jpg"

bg-default: "#2B001D"
bg-muted: "#52163E"
text-default: "#FFE6FB"
text-muted: "#C092B8"
text-interactive: "#FFE6FB"
border-default: "#FFE6FB"
border-muted: "rgba(255, 255, 255, 0.2)"
---

<div class="col-wide">
	{% include "_project-image" alt: "" image: "wonder-intro" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>
		Ben is a driver and chef for Wonder. His kitchen is inside the back of a Sprinter van. He does it all—drives, cooks, and delivers food straight to customer’s doors.
	</h2>
</div>

<div class="col-narrow">
	<img src="/work/wonder/wonder-driver.jpg" />
</div>

<div class="col-narrow my-24">
	<h2>
		Drivers at Wonder go directly from customer to customer, avoiding the cross-town detours inherent to typical restaurant delivery.
	</h2>
	<h2 class="mt-8">
		This makes Wonder more nimble than other delivery networks. Less time is spent driving and most orders are delivered in under 10 minutes. To take advantage of this agility, the team built a feature to reposition drivers closer to potential customers, resulting in even quicker delivery times.
	</h2>
</div>

<div class="col-wide mt-4 bg-muted">
	<div class="col-narrow">
		<div class="phone-grid">
			<div class="">
				<!-- <img class="w-full" src="/work/wonder/wonder-relocatewhileparked.png" /> -->
				<video class="w-full rounded-[5%/2.5%]" autoplay playsinline muted loop>
					<source src="/work/wonder/wonder-relocatewhileparked.mp4" type="video/mp4">Your browser does not support the video tag.
				</video>
				<p class="mt-2 text-muted text-sm">Relocate while parked</p>
			</div>
			<div class="">
				<!-- <img src="/work/wonder/wonder-relocatewhiledriving.png" /> -->
				<video class="w-full rounded-[5%/2.5%]" autoplay playsinline muted loop>
					<source src="/work/wonder/wonder-relocatewhiledriving.mp4" type="video/mp4">Your browser does not support the video tag.
				</video>
				<p class="mt-2 text-muted text-sm">Relocate while driving</p>

			</div>
		</div>
	</div>
</div>

<div class="col-narrow my-24">
	<h2>
		The app is the primary source of direction for Drivers, but it should not be a distraction. No interaction is required to continue along the correct route while driving.
	</h2>
</div>

<div class="col-wide">
	<img src="/work/wonder/wonder-relocatewhiledrivingflow@2x.jpg" />
	<img src="/work/wonder/wonder-parkandwaitflow@2x.jpg" />
</div>

<div class="col-narrow my-24">
	<h2>
		In weekly conversations with Drivers and their support team, there was consistently a lot of really great first-hand feedback.
	</h2>
	<h2 class="mt-4">
		Early on, Drivers were using Slack to get help and request breaks. This type of freeform communication didn’t scale well, and eventually became a huge bottleneck.
	</h2>
	<h2 class="mt-4">
		Through those weekly conversations with Drivers, the product team enabled them to quickly request breaks, report any issues, and get some immediate feedback on what to do next without leaving the app or waiting for a reply when they need help.
	</h2>
</div>

<div class="col-wide mt-4 bg-muted">
	<div class="col-narrow">
		<div class="phone-grid">
			<div class="">
				<!-- <img src="/work/wonder/wonder-reportwhileparked.png" /> -->
				<video class="w-full rounded-[5%/2.5%]" autoplay playsinline muted loop>
					<source src="/work/wonder/wonder-reportwhileparked.mp4" type="video/mp4">Your browser does not support the video tag.
				</video>
				<p class="mt-2 text-muted text-sm">Report while parked</p>
			</div>

			<div class="">
				<!-- <img src="/work/wonder/wonder-reportwhiledriving.png" /> -->
				<video class="w-full rounded-[5%/2.5%]" autoplay playsinline muted loop>
					<source src="/work/wonder/wonder-reportwhiledriving.mp4" type="video/mp4">Your browser does not support the video tag.
				</video>
				<p class="mt-2 text-muted text-sm">Report while driving</p>
			</div>
		</div>
	</div>
</div>

<div class="col-wide mt-4 bg-muted">
	<div class="col-narrow">
		<div class="py-12 sm:py-24 px-[10%] sm:px-[28%]">
			<div class="">
				<!-- <img src="/work/wonder/wonder-requestbreak.png" /> -->
				<video class="w-full rounded-[5%/2.5%]" autoplay playsinline muted loop>
					<source src="/work/wonder/wonder-requestbreak.mp4" type="video/mp4">Your browser does not support the video tag.
				</video>
				<p class="mt-2 text-muted text-sm">Request break</p>
			</div>
		</div>
	</div>
</div>

<div class="col-narrow my-24">
	<h2>
		Drivers could request breaks, but the app didn't offer much choice in where to take the break. In a weekly feedback session, they talked about often needing to leave the app to find a place with amenities.
	</h2>
	<h2 class="mt-4">
		We added known break locations to the route preview map so Drivers have some choice in when and where to take their break.
	</h2>
</div>

<div class="col-wide mt-4 bg-muted">
	<div class="col-narrow">
		<div class="phone-grid">
			<div class="">
				<img class="w-full rounded-[5%/2.5%]" src="/work/wonder/wonder-iterate1.png" />
			</div>
			<div class="">
				<img class="w-full rounded-[5%/2.5%]" src="/work/wonder/wonder-iterate2.png" />
			</div>
		</div>
	</div>
</div>

<div class="col-narrow my-24">
	<h2>
		The app generally acts as a conversational dialog, presenting a series of choices and instructions throughout the shift.
	</h2>
	<h2 class="mt-4">
		Every moment in the shift has variable circumstances, so there are many combinations of the sets of actions that are available at any given point.
	</h2>
	<h2 class="mt-4">
		With a small set of components, the app can support every one of these variations with a flexible bottom sheet.
	</h2>
</div>

<div class="col-narrow grid grid-cols-2 gap-4 md:gap-24 mb-16">
	<div class="">
		<img src="/work/wonder/wonder-components1.png" />
	</div>

	<div>
		<img src="/work/wonder/wonder-components2.png" />
	</div>
</div>

<div class="col-wide">
	<div class="">
		<img src="/work/wonder/wonder-bottomsheetslight@2x.jpg" />
	</div>
	<div class="mt-4">
		<img src="/work/wonder/wonder-bottomsheetsdark@2x.jpg" />
	</div>
</div>

<div class="col-start-1 col-span-12 sm:col-start-3 sm:col-span-4 xl:col-start-4 xl:col-span-3">
	<p class="text-muted text-sm">Also available in dark mode</p>
</div>

<div class="col-narrow my-24">
	<h2>
		This powerful Figma component helps bring consistency and speed to the design process. Every single screen throughout the app uses this one bottom sheet component, perfectly aligned with the dev team’s approach to component architecture.
	</h2>
</div>

<!-- <img class="col-start-2" src="/work/wonder/wonder-bottomsheet@2x.jpg" /> -->
<div class="col-narrow">
	<video class="col-start-1 col-span-12 self-end sm:col-start-3 sm:col-span-8 xl:col-start-4 xl:col-span-6" autoplay playsinline muted loop>
		<source src="/work/wonder/wonder-bottomsheet.mp4" type="video/mp4">Your browser does not support the video tag.
	</video>
</div>

<div class="col-narrow pt-16">
	<h3 class="mb-6 text-muted">Credits</h3>
	<ul class="grid grid-cols-2">
		<li class="mb-6">
			<p>Abbey Rom</p>
			<p class="text-muted mt-0">Product Manager</p>
		</li>
		<li class="mb-6">
			<p>Mike Coetzee</p>
			<p class="text-muted mt-0">Design Lead</p>
		</li>
		<li class="mb-6">
			<p>Joe Shoop</p>
			<p class="text-muted mt-0">Product Design</p>
		</li>
		<li class="mb-6">
			<p>Ilya Gazman</p>
			<p class="text-muted mt-0">Engineering Lead</p>
		</li>
	</ul>
</div>
