---
layout: project
tags: work
client: Blix
date: 2015-01-01
title-short: Place bookmarking for Blix

title-long: "Blix is an app for bookmarking places. Other mapping apps often point to entrances and arbitrary geographical centers—Blix lets users save and share precise locations. I worked with Blix to design a mobile app, identity, brochure website, and several prototypes for a future desktop version of the app."

role: Visual, Brand, Product
image: "cover.jpg"

bg-default: "#F3F9F5"
bg-muted: "#FFF"
text-default: "#092F34"
text-muted: "#626974"
text-interactive: "#092F34"
border-default: "#092F34"
border-muted: "rgba(0, 0, 0, 0.2)"
---

<div class="col-wide">
    {% include "_project-image" alt: "A black and white image of a beach wit" image: "blix-intro" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
    <h2>Blix is for when the place worth remembering isn’t just a park, but is the exact spot on your favorite beach with the best breaks.</h2>
    <h2 class="mt-8">The map is at the center of the app. From here, users can see nearby locations or swipe up to see a searchable and sortable list.</h2>
</div>

<div class="col-wide">
    {% include "_project-image" alt: "Map, Detail, and List" image: "blix-01" type: "jpg" size: "100vw" %}
    {% include "_project-image" alt: "List swiped, and multiselect" image: "blix-02" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
    <h2>Saving locations is the central feature of the app, so we put it front and center. Move the map around and the ‘New Blix’ pin floats in the middle of the screen, marking the spot a new Blix will be created when the button is tapped.</h2>
</div>

<div class="col-wide">
    {% include "_project-image" alt: "Create, Edit and Detail" image: "blix-03" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
    <h2>While creating or editing a Blix, users can add custom tags for easy retrieval later.  Add from a sorted list of existing tags, or start typing to search or create new tags.</h2>
</div>

<div class="col-wide">
    {% include "_project-image" alt: "Edit tags, Search tags by keyword, and in-progress search" image: "blix-04" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
    <h2>Search by keyword, city, tags, and more.</h2>
</div>

<div class="col-wide">
    {% include "_project-image" alt: "Search Your Places, Recent Searches, and Search autocomplete" image: "blix-05" type: "jpg" size: "100vw" %}
    {% include "_project-image" alt: "In-progress search" image: "blix-06" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
    <h2>While the initial design work for the app was wrapping up, we started thinking about how Blix might later scale up to bigger screens, and I built an html prototype to help visualize this exploration.</h2>
</div>

<div class="col-wide">
    {% include "_project-image" alt: "Blix logo" image: "blix-prototype" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
    <h2>The New Blix pin and X from the map view are reinforced in the logo and app icon.</h2>
</div>

<div class="col-wide">
    {% include "_project-image" alt: "Blix logo" image: "blix-logo" type: "png" size: "100vw" %}
</div>

<div class="col-narrow">
    {% include "_project-image" alt: "Business cards" image: "blix-businesscards" type: "png" %}
</div>

<div class="col-narrow my-24">
    <h2>A basic one-page website to promote the app and direct people to the appropriate app stores.</h2>
</div>

<div class="col-wide mt-16">
    {% include "_project-image" alt: "Blix logo" image: "blix-website" type: "jpg" size: "100vw" %}
</div>