---
layout: project
tags: 
- work
- published
client: Attain Housing
date: 2022-01-02
title-short: Week of Giving 2022 Poster
title-long: Poster for Week of Giving 2022—Attain Housing's annual fundraiser

role: Visual
image: "attain-weekofgiving-01_1440w.png"

bg-default: "#6C8A78"
bg-muted: "#e8e8e8"
text-default: "#ECFAF6"
text-muted: "#CCDED6"
text-interactive: "#ECFAF6"
border-default: "#ECFAF6"
border-muted: "rgba(255, 255, 255, 0.2)"
---

<div class="col-wide mt-4">
	{% include "_project-image" alt: "A poster on a marigold background" image: "attain-weekofgiving-02" type: "jpg" size: "100vw" %}
</div>
<div class="col-wide mt-4">
	{% include "_project-image" alt: "A geometric illustration of a hilly neighborhood with houses and trees" image: "attain-weekofgiving-01" type: "png" size: "100vw" %}
</div>

<div class="col-wide mt-4">
	{% include "_project-image" alt: "Social media frames" image: "attain-weekofgiving-03" type: "jpg" size: "100vw" %}
</div>
<p class="text-muted">Social media frames</p>
