---
layout: project
tags:
- work
- published
client: Attain Housing
date: 2022-01-02
title: Week of Giving 2022 Poster
challenge: "Attain Housing holds an annual fundraiser for Week of Giving."
impact: "I designed a poster."
role: Visual
thumbnail: "attain-weekofgiving-01_1440w.png"

---

<div class="col-wide mt-4">
	{% include "_project-image" alt: "A poster on a marigold background" image: "attain-weekofgiving-02" type: "jpg" size: "100vw" %}
</div>
<div class="col-wide mt-4">
	{% include "_project-image" alt: "A geometric illustration of a hilly neighborhood with houses and trees" image: "attain-weekofgiving-01" type: "png" size: "100vw" %}
</div>

<div class="col-wide mt-4">
	{% include "_project-image" alt: "Social media frames" image: "attain-weekofgiving-03" type: "jpg" size: "100vw" %}
</div>
<p class="text-muted">Social media frames</p>
