<footer class="mt-12 mb-24 border-t border-muted">
	<div class="flex justify-between w-full">
		<div class="hover:mt-[-1px] hover:border-t border-default">
			<a class="block text-interactive no-underline py-2 sm:py-4" href="#top">↑ Back to top</a>
		</div>
		<div>
			<p class="text-muted py-2 sm:py-4">© 2023</p>
		</div>
	</div>
</footer>