<nav>
	<ul class="nav-items">
	{% if title == "Index" %}
		<li class="nav-item active">
			<a class="nav-item-content" id="nav-home" href="/">Work</a>
		</li>
	{% else %}
		<li class="nav-item">
			<a class="nav-item-content text-muted" id="nav-home" href="/">Work</a>
		</li>
	{% endif %}
	{% if title == "About" %}
		<li class="nav-item active">
			<a class="nav-item-content" id="nav-about" href="/about/">About</a>
		</li>
	{% else %}
		<li class="nav-item">
			<a class="nav-item-content text-muted" id="nav-about" href="/about/">About</a>
		</li>
	{% endif %}
	</ul>
</nav>