<div class="min-h-[50vh] md:min-h-[40vh] border-b border-muted flex flex-col justify-end py-2 mb-2 md:py-4 md:mb-4">
	<p class="text-lg md:text-2xl xl:text-4xl leading-tight font-medium">{{ title-long }}</p>
	<div class=" text-muted flex justify-between w-full pt-2 md:pt-4">
		<p>{{ role }}</p>
		<p>{{ date | date: "%Y" }}</p>
	</div>
</div>