<div class="container --w-md --py-lg">
	<p class="--text-lg">
  	<span class="--text-muted">{{ challenge }}</span>
  	<span>{{ impact }}</span>
	</p>
	<p class="--text-sm --text-muted">{{ role }}</p>
</div>