<div class="intro">
	<div class="hero">
		<h1>{{ client }}</h1>
		<p class="text-lg">
			<span class="text-muted">{{ challenge }}</span>
			<span>{{ impact }}</span>
		</p>
		<p class="text-muted">{{ role }}</p>
	</div>
</div>