<!DOCTYPE html>
<html class="overflow-y-scroll" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover" />
  <meta name="description" content="{% if description %}{{ description }}{% else %}A digital product design studio in Seattle{% endif %}" />
  <title>{% if title %}{{ title }}—Studio Upleft{% else %}Studio Upleft{% endif %}</title>
  <link rel="stylesheet" href="/_css/main.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</head>

<body id="page-{{slug | default: "default"}}" class="text-default bg-default">

  {% include "_nav" %}

  {{ content }}

  {% include "_footer" %}
  
</body>

</html>