---
layout: default
title: "Design Books"
---

<h1>These books helped me think more broadly and deeply about what it is we are really doing when we design.</h1>

<p class="border-t border-default text-base text-muted mt-12">Product Design</p>

<div class="my-8">
	<p><a href="https://bookshop.org/p/books/the-design-of-everyday-things-don-norman/12398830?ean=9780465050659">The Design of Everyday Things by Don Norman↗</a></p>
	<p class="text-base text-muted">“Design doesn’t have to be complicated. Which is why this guide to human-centered design shows that usability is just as important as aesthetics.”</p>
</div>
<div class="my-8">
	<p><a href="https://sensible.com/dont-make-me-think/">Don't Make Me Think by Steve Krug↗</a></p>
	<p class="text-base text-muted">Another classic UX book. Keep it simple, stupid.</p>
</div>
<div class="my-8">
	<p><a href="https://bookshop.org/p/books/user-friendly-how-the-hidden-rules-of-design-are-changing-the-way-we-live-work-and-play-cliff-kuang/10360410">User Friendly by Cliff Kuang and Robert Fabricant↗</a></p>
	<p class="text-base text-muted">“In this essential text, Kuang and Fabricant map the hidden rules of the designed world and shed light on how those rules have caused our world to change--an underappreciated but essential history that's pieced together for the first time.”</p>
</div>
<div class="my-8">
	<p><a href="https://bookshop.org/p/books/user-friendly-how-the-hidden-rules-of-design-are-changing-the-way-we-live-work-and-play-cliff-kuang/10360410">The Shape of Design by Frank Chimero↗</a></p>
	<p class="text-base text-muted">“The Shape of Design is an odd little design book. Instead of talking about typography, grids, or logos, it focuses on storytelling, co-dependency, and craft. It tries to supplement the abundance of technical talk and how-to elsewhere by elevating why great work is done. Shape is a book about objectives, and it zooms out to answer a couple big questions: How does it feel to make things for other people? And how can we do so in a meaningful, engaged way?"</p>
</div>
<div class="my-8">
	<p><a href="https://bookshop.org/p/books/user-friendly-how-the-hidden-rules-of-design-are-changing-the-way-we-live-work-and-play-cliff-kuang/10360410">Living With Complexity by Don Norman↗</a></p>
	<p class="text-base text-muted">“The complexity of our technology must mirror the complexity and richness of our lives. It's not complexity that's the problem, it's bad design. Bad design complicates things unnecessarily and confuses us. Good design can tame complexity.”</p>
</div>
<div class="my-8">
	<p><a href="https://bookshop.org/p/books/user-friendly-how-the-hidden-rules-of-design-are-changing-the-way-we-live-work-and-play-cliff-kuang/10360410">Object Modeling & Flow Diagramming for Designers by Heidi P Adkisson↗</a></p>
	<p class="text-base text-muted">This is one of those books is like a bright flashlight in a dark room. If you’re struggling to make sense of a complicated information architecture, this book will help you see the system from a structural perspective, and design stronger user flows.</p>
</div>

<p class="border-t border-default text-base text-muted mt-12">Visual Design</p>

<div class="my-8">
	<p><a href="https://bookshop.org/p/books/the-art-of-looking-sideways-alan-fletcher/17673916?ean=9780714834498">The Art of Looking Sideways by Alan Fletcher↗</a></p>
	<p class="text-base text-muted">“The Art of Looking Sideways is a primer in visual intelligence, an exploration of the workings of the eye, the hand, the brain and the imagination. It is an inexhaustible mine of anecdotes, quotations, images, curious facts and useless information, oddities, serious science, jokes and memories, all concerned with the interplay between the verbal and the visual, and the limitless resources of the human mind.”</p>
</div>
<div class="my-8">
	<p><a href="https://www.edwardtufte.com/tufte/books_vdqi">Visual Display of Quantitative Information by Edward Tufte↗</a></p>
	<p class="text-base text-muted">An excellent and thorough study of getting the point. Through numerous visual examples, Tufte makes many strong arguments for removing visual noise to make room for clarity.</p>
</div>
<div class="my-8">
	<p><a href="https://www.lars-mueller-publishers.com/vignelli-canon">The Vignelli Canon by Massimo Vignelli↗</a> (<a href="https://www.rit.edu/vignellicenter/sites/rit.edu.vignellicenter/files/documents/The%20Vignelli%20Canon.pdf">PDF</a>)</p>
	<p class="text-base text-muted">A great short book, written by Massimo Vignelli to document his systematic approach to typographic communication, and pass the torch to a new generation of designers.</p>
</div>
<div class="my-8">
	<p><a href="https://bookshop.org/p/books/designing-design-kenya-hara/636318?ean=9783037784501">Designing Design by Kenya Hara↗</a></p>
	<p class="text-base text-muted">“Hara impresses upon the reader the importance of “emptiness” in both the visual and philosophical traditions of Japan, and its application to design, made visible by means of numerous examples from his own work”</p>
</div>

<p class="border-t border-default text-base text-muted mt-12">Systems</p>

<div class="my-8">
	<p><a href="https://atomicdesign.bradfrost.com/">Atomic Design by Brad Frost↗</a></p>
	<p class="text-base text-muted">The design system book.</p>
</div>
<div class="my-8">
	<p><a href="https://www.abebooks.com/9780195024029/Timeless-Way-Building-Alexander-Christopher-0195024028/plp">The Timeless Way of Building by Christopher Alexander↗</a></p>
	<p class="text-base text-muted">One of the great books on design patterns, with an emphasis on a special type of quality that makes things feel alive.</p>
</div>
<div class="my-8">
	<p><a href="https://www.abebooks.com/9780195019193/Pattern-Language-Towns-Buildings-Construction-0195019199/plp">A Pattern Language by Christopher Alexander↗</a></p>
	<p class="text-base text-muted">In part 2 of his series on design patterns, Alexander presents one possible pattern language, through a series of examples of patterns that contribute to thriving homes, neighborhoods, and towns.</p>
</div>
<div class="my-8">
	<p><a href="https://bookshop.org/p/books/entangled-life-how-fungi-make-our-worlds-change-our-minds-shape-our-futures-merlin-sheldrake/12072841">Entangled Life by Merlin Sheldrake↗</a></p>
	<p class="text-base text-muted">On the surface, this is a book about fungi, but it is ultimately about connected systems, individuality, patterns, and scale. An endlessly fascinating read.</p>
</div>

<p class="border-t border-default text-base text-muted mt-12">Ethics</p>

<div class="my-8">
	<p><a href="https://bookshop.org/p/books/future-ethics-cennydd-bowles/9235560?ean=9781999601911">Future Ethics by Cennydd Bowles↗</a></p>
	<p class="text-base text-muted">“Future Ethics is an intelligent, quietly provocative book that challenges technologists stand up for change, and teaches essential ethical principals and methods for building a fairer future.”</p>
</div>

<div class="my-8">
	<p><a href="https://bookshop.org/p/books/future-ethics-cennydd-bowles/9235560?ean=9781999601911">Ruined by Design by Mike Monteiro↗</a></p>
	<p class="text-base text-muted">“The world is working exactly as designed. And it's not working very well. Which means we need to do a better job of designing it.”</p>
</div>
