---
layout: default
title: "Playground"
---
<div class="container flow --w-md --py-xl">
  <ul class="nav-items">
    <li class="nav-item --active">
      <a class="nav-item-content" href="#">
        Events
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-item-content" href="#">
        Past Talks
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-item-content" href="#">
        Get Involved
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-item-content" href="#">
        About
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-item-content" href="#">
        News
      </a>
    </li>
  </ul>

  <p class="hero">Growing information architecture communities</p>
  <p class="--text-lg">Since 2012</p>
  <p>World Information Architecture Association (WIAA) hosts World IA Day, the one-day annual celebration held in dozens of locations across the globe.</p>
  <a href="#">Learn about WIAA</a>
</div>

<div class="container --w-xl --pb-xl">
  <img src="https://unsplash.it/1200/800" />
  <span class="caption">This is a short description of the above image. Its some pebbled in some sand right now.</span>
</div>

<div class="container --w-md --pb-xl">
  <div class="events --pb-xl">
    <div class="upcoming-events">
      <h2 class="hero">Events</h2>
      <p>More soon — stay tuned via our <a href="#" target="_blank">newsletter</a>.</p>
    </div>
    <div class="past-events">
      <h2 class="--pt-md --pb-sm">Past Events</h2>
      <div class="events-table">
        <div class="row">
          <div class="col date">
            April 26
          </div>
          <div class="col description"><a href="#" target="_blank">Talk @ School of Visual Arts<br>"AI is Coming: Fight, Flight, or Play"</a></div>
        </div>
        <div class="row">
          <div class="col date">
            April 26
          </div>
          <div class="col description"><a href="#">Build Your Own Poetry Camera" Workshop @ School of Visual Arts, MFA Interaction Design</a></div>
        </div>
        <div class="row">
          <div class="col date">
            April 25
          </div>
          <div class="col description"><a href="#">Augmented Imagination: Design &amp; AI with Sequoia</a></div>
        </div>
        <div class="row">
          <div class="col date">
            April 24
          </div>
          <div class="col description"><a href="#" target="_blank">Runway RNA: Research and Art</a></div>
        </div>
        <div class="row">
          <div class="col date">April 3</div>
          <div class="col description"><a href="#" target="_blank">Monument Lab: Publics of Poetry with Ryan Mather, Sasha Stiles, and Kelin Carolyn Zhang</a></div>
        </div>
        <div class="row">
          <div class="col date">March 8-10</div>
          <div class="col description"><a href="#" target="_blank">Human-Assisted Art: Renaissance</a></div>
        </div>
        <div class="row">
          <div class="col date">March 7</div>
          <div class="col description"><a href="#" target="_blank">Union Square Ventures AI and Art Demo Night</a></div>
        </div>
        <div class="row">
          <div class="col date">February 11–25</div>
          <div class="col description"><a href="#" target="_blank">Whitebox 001 Pop-up Gallery</a></div>
        </div>
        <div class="row">
          <div class="col date">February 1</div>
          <div class="col description"><a href="#" target="_blank">Figma AI in Creative Tooling Night</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container --w-md">
    <h2>WIAA News and Updates</h2>
    <div class="">
        <div class="">
          <div class="">
            <a href="#">Seeking Global Executive Producer for World Information Architecture Day 2025</a>
          </div>
          <div class="">
            <span class="">April 26, 2024</span>
          </div>
        </div>
        <div class="">
          <div class="">
            <a href="#">2023 State of Information Architecture Report</a>
          </span>
        </div>
        <div class="">
          <span class="">March 2, 2024</span>
        </div>
        </div>
        <div class="">
          <div class="">
            <a href="#">World Information Architecture Association Seeking Co-President</a>
          </div>
          <div class="">
            <span class="">February 28, 2024</span>
          </div>
        </div>
        <div class="">
          <div class=""><a href="https://wiaa.pubpub.org/pub/ka7osrkt">Thank you Andrea for four-years co-presidency! Now, what’s next?</a></div>
          <div class="">February 15, 2024</div>
        </div>
        <div class="">
          <div class=""><a href="https://wiaa.pubpub.org/pub/rjlqlzze">Project Proposal for a New World Information Architecture Website</a></div>
          <div class="">February 14, 2024</div>
        </div>
        <div class="">
          <div class=""><a href="https://wiaa.pubpub.org/pub/6gvy6rew">World Information Architecture Day 2024 on CONTEXT</a></div>
          <div class="">July 10, 2023</div>
        </div>
        <div class="">
          <div class=""><a href="https://wiaa.pubpub.org/pub/46rka6ch">Introducing… the new World Information Architecture Association</a></div>
          <div class="">December 8, 2021</div>
        </div>
      </div>
    </div>

  </div>
  <div class="container --w-md --py-xl">
    <h2>Featured Talks</h2>
      <div class="">
        <div class="">
          <a href="#" hreflang="en">Harnessing the Power of Synergy: GIS, Information Architecture, and UX in Los Angeles</a>
        </div>
        <span class="">Richard Caballero</span>
        <div class="">
          Los Angeles
        </div>
      </div>
      <div class="">
        <a href="#" hreflang="en">view</a>
      </div>
      <div class="">
        <div class="">
          <a href="#" hreflang="en">Understanding People, Place, and Planet through Location Intelligence and Geography</a>
        </div>
        <span class="">Sheridan Moore</span>
          <div class="">
            Los Angeles
          </div>
          <div class=""><a href="#" hreflang="en">view</a></span></div>
        </div>
        <div class="">
          <div class=""><a href="#" hreflang="en">Architecting Interactions: Interactions are the Seeds of Innovation</a></span></div><span class="">Stephanie Akkaoui Hughes</span></span>
          <div class="">
            Zürich
          </div>
          <div class=""><a href="#" hreflang="en">view</a></span></div>
        </div>
        <div class="">
          <div class=""><a href="#" hreflang="en">IA, the Current and the Future</a></span></div><span class="">Mike Doane, Andy Fitzgerald, Dr. Ali Mokdad</span></span>
          <div class="">
            Seattle</div>
          </div>
          <div class="views-field views-field-field-session-topic list-item-topics">
            
              <ul>
                <li><a href="# hreflang="en">Information Architecture</a></li>
              </ul>
            </div>
          </div>
          <div class=""><a href="#" hreflang="en">view</a></span></div>
        </div>
        <div class="">
          <div class=""><a href="#" hreflang="en">Systems Thinking in Practice</a></span></div><span class="">Bryn Ray</span></span>
          <div class="">
            London</div>
          </div>
          <div class=""><a href="#" hreflang="en">view</a></span></div>
        </div>
        <div class="">
          <div class=""><a href="#" hreflang="en">Computational Gastronomy: Data Science Approach to Food</a></span></div><span class="">Ganesh Bagler</span></span>
          <div class="">
            New Delhi</div>
          </div>
          <div class="views-field views-field-field-session-topic list-item-topics">
            
              <ul>
                <li><a href="/talks/topics/data-science" hreflang="en">Data Science</a></li>
              </ul>
            </div>
          </div>
          <div class=""><a href="#" hreflang="en">view</a></span></div>
        </div>
        <div class="">
          <div class=""><a href="#" hreflang="en">Making Places. Information Architecture in a Post-Digital World.</a></span></div><span class="">Andrea Resmini</span></span>
          <div class="">
            Zürich</div>
          </div>
          <div class="views-field views-field-field-session-topic list-item-topics">
            
              <ul>
                <li><a href="#" hreflang="en">Information Architecture</a></li>
              </ul>
            </div>
          </div>
          <div class=""><a href=#" hreflang="en">view</a></span></div>
        </div>
        <div class="">
          <div class=""><a href="#" hreflang="en">Visual vocabulary to visual language: what comics can teach information architecture</a></span></div><span class="">Stuart Curran</span></span>
          <div class="">
            Manchester</div>
          </div>
          <div class=""><a href="#" hreflang="en">view</a></span></div>
        </div>
      </div>
    </div>

  </div>


</div>

<div class="container flow --w-md --py-xl">
  <div>
    <p class="--text-muted">Songs</p>
    <h1 class="--text-lg --font-serif">Please Be Patient With Me (solo acoustic)
    </h1>
    <p class="--text-muted --font-serif">+ Chit-Chat Check-In #88: One of the Main Reasons I Write Songs</p>
  </div>

  <div class="card">
    <div class="--py-lg --px-lg">
      <p class="--text-lg --font-serif">Please Be Patient With Me (solo acoustic)
      </p>
    </div>
  </div>

  <div class="card">
    <div class="--py-md --px-md">
      <p>Middle</p>
    </div>
  </div>

  <div class="card">
    <div class="--py-sm --px-sm">
      <p class="--text-sm">Low</p>
    </div>
  </div>

  <div class="button --strong">
    <strong>Strong</strong>
  </div>

  <div class="button --default">
    Default
  </div>

  <div class="button --muted">
    Muted
  </div>

  <div class="button --error">
    Error
  </div>

  <div class="button --disabled">
    Disabled
  </div>

</div>

<div class="container --w-xl --pb-xl">
  <img src="https://unsplash.it/1200/800" />
  <span class="caption">This is a short description of the above image. Its some pebbled in some sand right now.</span>
</div>

<div class="container --font-serif --text-serif-lg --w-md">
  <p>In today's digital age, the lean web philosophy emphasizes simplicity and efficiency in web development. It challenges the prevailing trend of bloated websites filled with excessive features and heavy frameworks. By stripping down to the essentials, the lean web aims to deliver faster, more accessible, and user-friendly experiences. This approach not only benefits users with faster load times and smoother interactions but also reduces server load and bandwidth consumption, making it a win-win for both developers and users.</p>

  <h2>Test Headline</h2>
  <h3>Test Subheadline</h3>
  <h4>Test H4 Subsubheadline</h4>
  <h5>Test H5 Subsubheadline</h5>
  <h6>Test H6 Subsubheadline</h6>

  <p><em>Those last three should all look the same</em></p>

  <p>One of the core principles of the lean web is minimalism. This doesn't mean sacrificing functionality or aesthetics but rather focusing on what truly matters. Lean web development advocates for using clean, semantic HTML, CSS, and vanilla JavaScript, avoiding unnecessary dependencies and frameworks unless absolutely necessary. This not only makes the codebase more maintainable but also enhances the performance and security of the website.</p>



  <p><strong>Accessibility is another critical aspect</strong> of the lean web. By adhering to web standards and best practices, lean web development ensures that websites are accessible to a broader audience, including those with disabilities or using older devices. This inclusivity aligns with the original vision of the web as a universal platform, where information and services are available to all, regardless of their technical capabilities or resources.</p>

  <p><em>Performance is a significant concern for modern web users, and the lean web addresses this directly.</em> Fast-loading pages are crucial for retaining visitors and improving search engine rankings. By optimizing images, leveraging browser caching, and minimizing HTTP requests, lean web development can significantly enhance page load times. Moreover, it encourages the use of progressive enhancement techniques, ensuring that core content and functionality are available even under less-than-ideal network conditions.</p>

  <aside>Finally, the lean web philosophy promotes sustainability. By reducing the digital footprint of websites, it contributes to lower energy consumption and reduced carbon emissions.</aside>

  <p>Finally, the lean web philosophy promotes sustainability. By reducing the digital footprint of websites, it contributes to lower energy consumption and reduced carbon emissions. In an era where environmental concerns are increasingly paramount, adopting lean web practices can be a small but meaningful step towards more sustainable web development. This not only helps the planet but also aligns with the growing consumer demand for more eco-friendly products and services.</p>

  <blockquote>Lean web development advocates for using clean, semantic HTML, CSS, and vanilla JavaScript, avoiding unnecessary dependencies and frameworks unless absolutely necessary.</blockquote>
</div>

<div class="container --w-full --py-lg">
  <img src="https://unsplash.it/1200/800" />
  <span class="caption">A serene sunset bathes the quiet beach in warm hues, as waves gently lap at the shore. Silhouetted palm trees sway softly in the evening breeze, framing the tranquil scene.</span>
</div>

<hr />