---
layout: default
title: "Playground"
---
<div class="container flow --w-md --py-xl">

  <p class="hero">Headline</p>
  
  <hr />
  
  <div>
    <p class="--text-muted">Songs</p>
    <h1 class="--text-lg --font-serif">Please Be Patient With Me (solo acoustic)
    </h1>
    <p class="--text-muted --font-serif">+ Chit-Chat Check-In #88: One of the Main Reasons I Write Songs</p>
  </div>
  
  <div class="card">
    <div class="--py-lg --px-lg">
      <p class="--text-lg --font-serif">Please Be Patient With Me (solo acoustic)
      </p>
    </div>
  </div>
  
  <div class="card">
    <div class="--py-md --px-md">
      <p>Middle</p>
    </div>
  </div>
  
  <div class="card">
    <div class="--py-sm --px-sm">
      <p class="--text-sm">Low</p>
    </div>
  </div>
  
  <div class="button --strong">
    Strong
  </div>
  
  <div class="button --default">
    Default
  </div>
  
  <div class="button --muted">
    Muted
  </div>
  
  <div class="button --error">
    Error
  </div>
  
  <div class="button --disabled">
    Disabled
  </div>
  
</div>

<div class="container --w-xl --pb-xl">
  <img src="https://unsplash.it/1200/800" />
</div>

<div class="container --font-serif --text-serif-lg --w-md">
  <p>In today's digital age, the lean web philosophy emphasizes simplicity and efficiency in web development. It challenges the prevailing trend of bloated websites filled with excessive features and heavy frameworks. By stripping down to the essentials, the lean web aims to deliver faster, more accessible, and user-friendly experiences. This approach not only benefits users with faster load times and smoother interactions but also reduces server load and bandwidth consumption, making it a win-win for both developers and users.</p>
  
  <h2 class="--pt-lg --pb-md">Test Headline</h2>
  
  <p>One of the core principles of the lean web is minimalism. This doesn't mean sacrificing functionality or aesthetics but rather focusing on what truly matters. Lean web development advocates for using clean, semantic HTML, CSS, and vanilla JavaScript, avoiding unnecessary dependencies and frameworks unless absolutely necessary. This not only makes the codebase more maintainable but also enhances the performance and security of the website.</p>
  
  <h3 class="--pt-lg --pb-md">Test Subheadline</h3>
  
  <p><strong>Accessibility is another critical aspect</strong> of the lean web. By adhering to web standards and best practices, lean web development ensures that websites are accessible to a broader audience, including those with disabilities or using older devices. This inclusivity aligns with the original vision of the web as a universal platform, where information and services are available to all, regardless of their technical capabilities or resources.</p>
  
  <h4 class="--py-sm">Test H4 Subsubheadline</h4>
  <h5 class="--py-sm">Test H5 Subsubheadline</h5>
  <h6 class="--py-sm">Test H6 Subsubheadline</h6>
  
  <p><em>Those should all look the same</em></p>
  
  <p><em>Performance is a significant concern for modern web users, and the lean web addresses this directly.</em> Fast-loading pages are crucial for retaining visitors and improving search engine rankings. By optimizing images, leveraging browser caching, and minimizing HTTP requests, lean web development can significantly enhance page load times. Moreover, it encourages the use of progressive enhancement techniques, ensuring that core content and functionality are available even under less-than-ideal network conditions.</p>
  
  <aside>Finally, the lean web philosophy promotes sustainability. By reducing the digital footprint of websites, it contributes to lower energy consumption and reduced carbon emissions.</aside>
  
  <p>Finally, the lean web philosophy promotes sustainability. By reducing the digital footprint of websites, it contributes to lower energy consumption and reduced carbon emissions. In an era where environmental concerns are increasingly paramount, adopting lean web practices can be a small but meaningful step towards more sustainable web development. This not only helps the planet but also aligns with the growing consumer demand for more eco-friendly products and services.</p>
  
  <blockquote>Lean web development advocates for using clean, semantic HTML, CSS, and vanilla JavaScript, avoiding unnecessary dependencies and frameworks unless absolutely necessary.</blockquote>
</div>

<div class="container --w-full --py-lg">
  <img src="https://unsplash.it/1200/800" />
  <caption>This is a short description of the above image. Its some pebbled in some sand right now.</caption>
</div>

<hr />