---
layout: default
title: "Scraps"
description: "Studio Upleft Scraps"
---
<div class="flow container --w-md --py-xl">
	<hp>You've found the scrap bin. It will become a miscellaneous, unsorted playground of bits of work, inspiration, imagery, and text - something like a <a href="digital-garden/">digital garden</a>. There isn't much here yet, only a <a href="playground/">playground</a>, some <a href="./limbo/">circles</a>, and a list of <a href="design-books/">dusty old tomes</a>, <a href="full-of-green-dust/">full of green dust</a>.</p>
</div>