---
layout: default
title: "Scraps"
description: "Studio Upleft Scraps"
---
<div class="flow container --w-md --py-xl">
	<h1>You've found the scrap bin. It will become a miscellaneous, unsorted playground of bits of work, inspiration, imagery, and text - something like a <a href="https://maggieappleton.com/garden-history">digital garden ↗</a>. There isn't much here yet, only some <a href="designbooks/">dusty old tomes</a>, <a href="fullofgreendust/">full of green dust</a>.</h1>
	<img class="my-16" src="https://source.unsplash.com/random/952x550" />
</div>