---
layout: project
tags:
- work
- featured
client: Pyrezo
date: 2023-01-02
title: Community wildfire mitigation for Pyrezo
challenge: "Pyrezo is helping communities become more resilient to wildfire."
impact: "I worked with their small team to build tools to asses and mitigate wildfire risks at any&nbsp;property."
role: Product Design & Visual Design

thumbnail: pyrezo-intro@2x.jpg
images:
- src: pyrezo-intro@2x.jpg
  caption: Pyrezo’s iPhone app gets the picture on what is happening from the ground up.
- src: pyrezo-intro@2x.jpg
  caption: Pyrezo’s iPhone app gets the picture on what is happening from the ground up.
---

<div class="flow container --w-xl">

	{% include "_project-image" alt: "Two phones float above a spread of food" image: "pyrezo-intro" type: "jpg" size: "100vw" %}
	
	<div class="container --w-md --py-xl">
	<h2>Where we are now</h2>
		<p class="">
			On the West Coast, wildfires have been getting bigger, and more destructive. Summer has become smoke season.
		</p>
		<p class="">
		Using modern technology to solve a modern problem.
		</p>
	</div>

	{% include "_project-image" alt: "Two phones float above a spread of food" image: "pyrezo-identity" type: "jpg" size: "100vw" %}

	{% include "_project-image" alt: "Two phones float above a spread of food" image: "pyrezo-styleguide" type: "jpg" size: "100vw" %}

	{% include "_project-image" alt: "Two phones float above a spread of food" image: "pyrezo-website" type: "jpg" size: "100vw" %}

	<div class="container --w-md --py-xl">
		<p class="--text-lg --text-muted">
			Aerial photography can reveal some problems, but misses the biggest risks hidden under canopies and eaves.
		</p>
	</div>
	<h2 class="mt-8">
		Pyrezo’s iPhone app gets the picture on what is happening from the ground up.
	</h2>
				<img class="w-full rounded-[10%/5%] border border-black/10 shadow" src="pyrezo-guide.png" />
				<p class="mt-2 text-muted text-sm">Confirming location, walking around the home...</p>

			<div class="">
				<video class="w-full rounded-[10%/5%] border border-black/10 shadow" autoplay playsinline muted loop>
					<source src="pyrezo-spin.mp4" type="video/mp4">Your browser does not support the video tag.
				</video>
				<p class="mt-2 text-sm text-muted">...stopping to capture a 360º image at each corner...</p>
			</div>
				<img class="w-full rounded-[10%/5%]"  src="pyrezo-returntoportrait.png" />
				<p class="text-center text-sm text-muted">...keeping the phone upright...</p>
			</div>

			<div class="">
				<img class="w-full rounded-[10%/5%] border border-black/10 shadow" src="pyrezo-photos.png" />
				<p class="mt-2 text-sm text-muted">...and taking photos of a few specific materials.</p>
			</div>
<!-- <div class="col-start-1 col-span-12 sm:col-start-3 sm:col-span-4 xl:col-start-4 xl:col-span-3">
	<p class="mb-2 text-sm text-muted">
		Until risk detection can happen on device, images need to be uploaded to the cloud so that a small team at Pyrezo can manually mark them up, training an AI to recognize wildfire risk conditions in captured images.
	</p>
</div> -->
<div class="--w-xl">
	{% include "_project-image" alt: "Screenshots showing finish capture and upload images" image: "pyrezo-app-finishandupload" type: "jpg" size: "100vw" %}
</div>

<div class="--w-xl">
	<div class="w-full max-w-[1080px] py-16 px-4 mx-auto">

			<div class="">
				<!-- <img class="col-span-12" src="pyrezo-annotate-1@2x.png" /> -->
				<video class="w-full" autoplay playsinline muted loop>
					<source src="pyrezo-annotate.mp4" type="video/mp4">Your browser does not support the video tag.
				</video>
			</div>
	</div>
</div>

<div class="col-narrow my-24">
	<h2>
		When the images are uploaded, a small team at Pyrezo notes fire risk conditions found at the property.
	</h2>
	<h2 class="mt-4">
		After a short wait, users receive a report with details on each potential fire hazard.
	</h2>
</div>

<div class="width-xl">
	<div class="col-narrow">
		<div class="grid grid-cols-2 gap-4">
			<img class="w-full" src="pyrezo-report-summary@2x.png" />
			<img class="w-full" src="pyrezo-report-p1@2x.png" />
			<img class="w-full" src="pyrezo-report-p2@2x.png" />
			<img class="w-full" src="pyrezo-report-p3@2x.png" />
		</div>
	</div>
</div>

<div class="container --w-xl">
	<img src="pyrezo-report-photo@2x.jpg" />
</div>

<div class="container --w-md --py-lg">
	<p class="--text-lg">
		After a few seasons of cleanup and regrowth, Pyrezo can be used again to ensure that defensible space is maintained.
	</p>
</div>