---
layout: project
tags: work
client: "Eat This Much"
date: 2019-01-01
title-short: "Automatic meal planning for Eat This Much"
title-long: "Eat This Much is an automatic meal planning app with powerful customization options. I worked with Eat This Much to rethink much of their existing web app, and to redesign their mobile app, with a goal to maintain feature parity between the two. This case study is specific to the mobile app."
role: Visual, Brand, Product
image: "eatthismuch-header_1440w.jpg"

bg-default: "#EDE9E6"
bg-muted: "rgba(8, 69, 160, 1)"
text-default: "#000"
text-muted: "#7C7B7F"
text-interactive: "#000"
border-default: "#000"
border-muted: "rgba(0, 0, 0, 0.2)"
---	

<div class="col-wide">
	{% include "_project-image" alt: "Two phones float above a spread of food" image: "eatthismuch-header" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>The existing mobile app was packed with features, but it had an unclear information architecture and a lot of unintuitive interaction patterns.</h2>
</div>

<div class="col-narrow">
	{% include "_project-image" alt: "The old eat this much app" image: "etm-oldapp" type: "jpg" %}
</div>

<div class="col-narrow my-24">
	<h2>For a large project like this, it is critical to maintain consistency and allow for quick iteration across hundreds of screens and multiple files. I established an atomic system of styles and components which can be combined in various ways to make a wide variety of UI. Every bit of UI is built with these basic building blocks.</h2>
</div>

<div class="col-wide">
	{% include "_project-image" alt: "A sample of components" image: "etm-components" type: "png" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>The meal plan is the central feature of Eat This Much. This is where users find what they’ll be eating for each meal over the next week.</h2>
	<h2 class="mt-4">The Today tab is all about what is planned for today, while the Meal Plan tab is a more compact overview of the whole week, focusing more on planning and comparing days.</h2>
</div>

<div class="col-wide">
	{% include "_project-image" alt: "Meal plan" image: "etm-mealplan" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>Meal plans are generated based on personalized settings, but users often like to do a little editing to finalize their menu for the week.</h2>
	<h2 class="mt-4">These manual overrides are empowered in a number of ways:</h2>
	
	<ul class="list-decimal mt-16">
		<li>
			<h3 class="font-bold">Regenerate</h3>
			<p>Opt to regenerate parts of the plan at any level, from the entire week, all the way down to a single recipe. Regenerating is fairly smart about what it picks, and it is nearly instant, but it doesn't offer much control. Users reported that they sometimes felt unsure about regenerating because they didn't know what they were going to get.</p>
			<div class="my-8">{% include "_project-image" alt: "Meal plan" image: "etm-regenerate-levels" type: "png" %}</div>
		</li>
		<li><h3 class="font-bold">Swap</h3>
			<p>To give users a little more control while still making it quick and easy to modify the plan, we designed a menu where the user can choose a new meal from a small set of options. These options are framed based on attributes like "Faster", "Cheaper", "More Unique", "Healthier", and more. By highlighting a notable difference between the new meals, we hoped to make them easier to compare, and easier to remember while reviewing the other options.</p>
			<div class="my-8">{% include "_project-image" alt: "Swap meals" image: "etm-swap" type: "jpg" %}</div>
		</li>
		<li><h3 class="font-bold">Add</h3>
			<p>If a user has something more specific in mind, they can add any recipe to their plan, which brings us to…</p>
		</li>
	</ul>
	
	<h2 class="mt-24">Search and browse foods, recipes and collections</h2>
	<dl class="mt-8">
		<dt class="font-bold">Foods</dt>
		<dd>The basic ingredients that make up a recipe.</dd>
		<dt class="font-bold mt-4">Recipes</dt>
		<dd>Recipes make up your meal plan. A recipe can be scheduled for a future meal, set to repeat, or be added to a collection.</dd>
		<dt class="font-bold mt-4">Collections</dt>
		<dd>Groups of recipes - kind of like a playlist. They can be added to a meal type, such as "Breakfast", and all future breakfasts will be generated from recipes in the attached collection. Add that ”High Protein Breakfast Ideas” collection to breakfast if you’re looking to start the day off with some energy.</dd>
	</dl>
</div>
<div class="col-wide">
	{% include "_project-image" alt: "Meal plan" image: "etm-browse-01" type: "jpg" size: "100vw" %}
	{% include "_project-image" alt: "Meal plan" image: "etm-browse-02" type: "jpg" size: "100vw" %}
	{% include "_project-image" alt: "Meal plan" image: "etm-browse-03" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>If users have a favorite recipe they can't find in the database, they can add it here with photos, detailed instructions, and all of the necessary ingredients.</h2>
	<p class="mt-4">Any recipe can be copied and edited to suit the needs of individual users. Maybe they’re a fan of that Blueberry Smoothie recipe, but want to use a non-dairy milk instead. Customizing a recipe will adjust the nutrition tracking to accurately reflect any substitutions.</p>
</div>

<div class="col-wide">
	{% include "_project-image" alt: "Meal plan" image: "etm-createrecipe" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>Whether a user is a macro-obsessed bodybuilder, or they just want to cook more, their meal plan generator can be endlessly tuned and tweaked to fit their specific needs.</h2>
	<p class="mt-4">Users choose a primary diet, exclude common allergens, and review nutrition targets during sign up, but they can come back and edit them later. Plan breakfast, add cheat meals, recovery meals, or auto-track that daily oatmilk latte.</p>
</div>

<div class="col-wide">
	{% include "_project-image" alt: "Meal plan" image: "etm-preferences-01" type: "jpg" size: "100vw" %}
	{% include "_project-image" alt: "Meal plan" image: "etm-preferences-02" type: "jpg" size: "100vw" %}
</div>