---
layout: default
title: "Design Books"

books:
- title: Design of Everyday Things by Don Norman
  url: https://bookshop.org/p/books/the-design-of-everyday-things-don-norman/12398830?ean=9780465050659
  info: "Design doesn’t have to be complicated. Which is why this guide to human-centered design shows that usability is just as important as aesthetics."

- title: Don't Make Me Think by Steve Krug
  url: https://sensible.com/dont-make-me-think/
  info: Another classic UX book. Keep it simple, stupid.

- title: User Friendly by Cliff Kuang and Robert Fabricant
  url: https://bookshop.org/p/books/user-friendly-how-the-hidden-rules-of-design-are-changing-the-way-we-live-work-and-play-cliff-kuang/10360410
  info: “In this essential text, Kuang and Fabricant map the hidden rules of the designed world and shed light on how those rules have caused our world to change--an underappreciated but essential history that's pieced together for the first time.”

- title: The Shape of Design by Frank Chimero
  url: https://bookshop.org/p/books/user-friendly-how-the-hidden-rules-of-design-are-changing-the-way-we-live-work-and-play-cliff-kuang/10360410
  info: “The Shape of Design is an odd little design book. Instead of talking about typography, grids, or logos, it focuses on storytelling, co-dependency, and craft. It tries to supplement the abundance of technical talk and how-to elsewhere by elevating why great work is done. Shape is a book about objectives, and it zooms out to answer a couple big questions. How does it feel to make things for other people? And how can we do so in a meaningful, engaged way?"

- title: Living With Complexity by Don Norman
  url: https://bookshop.org/p/books/user-friendly-how-the-hidden-rules-of-design-are-changing-the-way-we-live-work-and-play-cliff-kuang/10360410
  info: “The complexity of our technology must mirror the complexity and richness of our lives. It's not complexity that's the problem, it's bad design. Bad design complicates things unnecessarily and confuses us. Good design can tame complexity.”

- title: Object Modeling & Flow Diagramming for Designers by Heidi P Adkisson
  url: https://bookshop.org/p/books/user-friendly-how-the-hidden-rules-of-design-are-changing-the-way-we-live-work-and-play-cliff-kuang/10360410
  info: This is one of those books is like a bright flashlight in a dark room. If you’re struggling to make sense of a complicated information architecture, this book will help you see the system from a structural perspective, and design stronger user flows.

- title: The Art of Looking Sideways by Alan Fletcher
  url: https://bookshop.org/p/books/the-art-of-looking-sideways-alan-fletcher/17673916?ean=9780714834498
  info: “The Art of Looking Sideways is a primer in visual intelligence, an exploration of the workings of the eye, the hand, the brain and the imagination. It is an inexhaustible mine of anecdotes, quotations, images, curious facts and useless information, oddities, serious science, jokes and memories, all concerned with the interplay between the verbal and the visual, and the limitless resources of the human mind.”

- title: Visual Display of Quantitative Information by Edward Tufte
  url: https://www.edwardtufte.com/tufte/books_vdqi
  info: “The classic book on statistical graphics, charts, tables. Theory and practice in the design of data graphics.”

- title: The Vignelli Canon by Massimo Vignelli
  url: https://www.lars-mueller-publishers.com/vignelli-canon
  info: A great short book, written by Massimo Vignelli to document his systematic approach to typographic communication, and pass the torch to a new generation of designers.
  pdf: https://www.rit.edu/vignellicenter/sites/rit.edu.vignellicenter/files/documents/The%20Vignelli%20Canon.pdf

- title: Designing Design by Kenya Hara
  url: https://bookshop.org/p/books/designing-design-kenya-hara/636318?ean=9783037784501
  info: “Hara impresses upon the reader the importance of “emptiness” in both the visual and philosophical traditions of Japan, and its application to design, made visible by means of numerous examples from his own work”

- title: Atomic Design by Brad Frost
  url: https://atomicdesign.bradfrost.com/
  info: The design system book.

- title: The Timeless Way of Building by Christopher Alexander
  url: https://www.abebooks.com/9780195024029/Timeless-Way-Building-Alexander-Christopher-0195024028/plp
  info: One of the great books on design patterns, with an emphasis on a special type of quality that makes things feel alive.

- title: A Pattern Language by Christopher Alexander
  url: https://www.abebooks.com/9780195019193/Pattern-Language-Towns-Buildings-Construction-0195019199/plp
  info: In part 2 of his series on design patterns, Alexander presents one possible pattern language, through a series of examples of patterns that contribute to thriving homes, neighborhoods, and towns.

- title: Entangled Life by Merlin Sheldrake
  url: https://bookshop.org/p/books/entangled-life-how-fungi-make-our-worlds-change-our-minds-shape-our-futures-merlin-sheldrake/12072841
  info: On the surface, this is a book about fungi, but it is ultimately about connected systems, individuality, patterns, and scale. An endlessly fascinating read.

- title: Future Ethics by Cennydd Bowles
  url: https://bookshop.org/p/books/future-ethics-cennydd-bowles/9235560?ean=9781999601911
  info: “Future Ethics is an intelligent, quietly provocative book that challenges technologists stand up for change, and teaches essential ethical principals and methods for building a fairer future.”

- title: Ruined by Design by Mike Monteiro
  url: https://bookshop.org/p/books/future-ethics-cennydd-bowles/9235560?ean=9781999601911
  info: “The world is working exactly as designed. And it's not working very well. Which means we need to do a better job of designing it.”
---

<a href="./nesting/">Nesting</a>

<div class="flow container --w-md --py-xl">
	<h1>For me, the best design books are more about how to think than how to execute. Here are some of my favorites.</h1>
	<ul class="flow">
  	{%- for book in books -%}
  		<li>
			<h3><a href="{{ book.url }}">{{ book.title }}↗</a></h3>
			<p class="--text-muted">{{ book.info }}</p>
  		</li>
  	{%- endfor -%}
	</ul>
</div>
