---
layout: project
tags: work
client: Showtime
date: 2011-01-01
title-short: Showtime Anytime for iPad and iPhone

title-long: "Showtime was working on a new on-demand streaming video service for all of their content called Showtime Anytime. Showtime and Übermind (now Deloitte Digital) worked together to design and build the first native iPhone and iPad apps for this new service. I led the visual design for this effort."

role: Visual
image: "showtime-cover_1440w.jpg"

bg-default: "#131313"
bg-muted: "#000"
text-default: "#FA6077"
text-muted: "#999"
text-interactive: "#FA6077"
border-default: "#FA6077"
border-muted: "rgba(255, 255, 255, 0.2)"
---

<div class="col-wide">
	{% include "_project-image" alt: "An iPad displaying the SHowtime Anytime app while hovering above a dark red background" image: "showtime-intro" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>We started with the iPad, since the larger screen would deliver the best experience for streaming video, and was a natural transition from the web version that was already in development.</h2>
	<h2 class="mt-8">There were write-ups on <a href="https://venturebeat.com/2012/01/10/showtime-ipad-app/">Venture Beat</a> and <a href="https://techcrunch.com/2012/01/10/new-showtime-anytime-app-brings-showtimes-movies-and-shows-to-the-ipad">Tech Crunch</a> about the launch of the iPad app.</h2>
</div>

<div class="col-wide">
	{% include "_project-image" alt: "Browse series in the iPad app" image: "showtime-ipad-browse-series-ondevice" type: "jpg" size: "100vw" %}
</div>

<div class="col-wide mt-24">
	{% include "_project-image" alt: "My list in the iPad app" image: "showtime-ipad-mylist-top-ondevice" type: "jpg" size: "100vw" %}
</div>

<div class="col-wide mt-24">
	{% include "_project-image" alt: "Series detail in the iPad app" image: "showtime-ipad-seriesdetail-ondevice" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>After the iPad App launched, we translated the design to the smaller iPhone screen. Both apps have the same features and aesthetic, but the navigation had to change a bit to accomidate the smaller screen on the phone.</h2>
</div>

<div class="col-wide">
	{% include "_project-image" alt: "iPhone app" image: "showtime-iphone-01" type: "jpg" size: "100vw" %}
</div>

<div class="col-wide">
	{% include "_project-image" alt: "iPhone app" image: "showtime-iphone-02" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>The app icon echoed the stepped gradient used in the iPad navigation and the Showtime Anytime brand</h2>
</div>

<div class="col-narrow">
	{% include "_project-image" alt: "Showtime Anytime app icon" image: "showtime-icon" type: "png" %}
</div>