---
layout: project
tags: 
- work
- featured
client: Daily Number
date: 2022-01-02
title-short: "Casual-friendly fantasy sports for Daily Number"
title-long: "Daily Number players pick athletes from nearly any professional sport to go up against a projected score, joining others to cheer and commiserate as live games unfold. I helped the team at Daily Number define a more playful visual language, and used it to design a new quick picks game with social play features for the app."
role: Product, Visual, Brand
image: "dn-intro_1440w.jpg"

bg-default: "rgba(1, 77, 193, 1)"
bg-muted: "rgba(8, 69, 160, 1)"
text-default: "#DBE7FB"
text-muted: "#8FBCFF"
text-interactive: "#DBE7FB"
border-default: "#DBE7FB"
border-muted: "rgba(255, 255, 255, 0.2)"
---

<div class="col-wide">
	{% include "_project-image" alt: "" image: "dn-intro" type: "jpg" size: "100vw" %}
</div>

<!-- <div class="col-narrow my-24">
	<h2>
		Dylan likes to watch sports with friends. He can't always make it in-person, so he'll often check social media during games to see how the crowd is reacting to big plays.
	</h2>
	<h2 class="mt-4">
		Daily Number is a place where Dylan can play along with the crowd from his phone and maybe win a little cash, too.
	</h2>
</div>

<div class="col-narrow">
	<img class="w-full" src="dn-user.jpg" />
</div> -->

<div class="col-wide mobile-slide">
	<div class="mt-4 -mx-32 sm:mx-0">
		{% include "_project-image" alt: "" image: "dn-visualsystem" type: "jpg" size: "100vw" %}
	</div>
</div>

<div class="col-narrow my-24">
	<h2>
		As players start a contest, they can make up to 5 picks and modify the scoring rules and entry fee.
	</h2>
</div>

<div class="col-wide mt-4 bg-muted">
	<div class="col-narrow">
		<div class="phone-grid">
			<div class="">
				<!-- <img src="dn-startcontest.png" /> -->
				<video class="rounded-[10%/5%] w-full" autoplay playsinline muted loop>
					<source src="dn-startcontest.mp4" type="video/mp4">Your browser does not support the video tag.
				</video>
				<p class="mt-2 text-muted text-sm">Make your picks</p>
			</div>
		
			<div class="">
				<!-- <img class="w-full" src="dn-customizecontest.png" /> -->
				<video class="rounded-[10%/5%] w-full" autoplay playsinline muted loop>
					<source src="dn-customizecontest.mp4" type="video/mp4">Your browser does not support the video tag.
				</video>
				<p class="mt-2 text-muted text-sm">Customize the scoring style, odds, and entry</p>
				
			</div>
		</div>
	</div>
</div>

<div class="col-narrow my-24">
	<h2>
		Before they can submit that perfect lineup, players needs some funds in their in-app&nbsp;wallet.
	</h2>
</div>

<div class="col-narrow grid sm:grid-cols-2 gap-4 sm:gap-8">

	<div class="">
		<p class="text-muted text-sm">Daily Number doesn't charge a transfer fee, but the payment processor does. Because of this behind-the-scenes cost, Daily Number sets a minimum transfer amount to discourage users from initiating a transfer for every bet.</p>
	</div>
	
	<div class="">
		<p class="text-muted text-sm">On the other end, a maximum transfer amount helps encourage responsible play. Using a range slider instead of a keyboard or num-pad helps reinforce these min/max limits by making it impossible to enter numbers that are out of&nbsp;range.</p>
	</div>
	
</div>

<div class="col-wide mt-4 bg-muted">
	<div class="col-narrow">
		<div class="phone-grid">
			<div class="">
				<img src="dn-wallet-min.png" />
			</div>
			<div class="">
				<img src="dn-wallet-max.png" />
			</div>
		</div>
	</div>
</div>

<div class="col-wide mt-4 bg-muted">
	<div class="col-narrow">
		<div class="phone-grid">
			<div class="">
				<img src="dn-wallet.png" />
				<p class="mt-2 text-muted text-sm">Your wallet</p>
			</div>
			<div class="">
				<!-- <img src="dn-cashout.png" /> -->
				<video class="rounded-[10%/5%] w-full" autoplay playsinline muted loop>
					<source src="dn-cashout.mp4" type="video/mp4">Your browser does not support the video tag.
				</video>
				<p class="mt-2 text-muted text-sm">After a win, cash out</p>
			</div>
		</div>
	</div>
</div>

<div class="col-narrow my-24">
	<h2>
		Every contest is full of live scores and crowd noise where players can keep up with the action and cheer alongside friends and other&nbsp;fans.
	</h2>
</div>

<div class="col-wide mt-4 bg-muted">
	<div class="col-narrow">
		<div class="phone-grid">	
			<div class="">
				<img src="dn-startsquad.png" />
			</div>
			<div class="">
				<img src="dn-invitetosquad.png" />
			</div>
		</div>
	</div>
</div>

<div class="col-wide mt-4 bg-muted">
	<div class="col-narrow">
		<div class="phone-grid">	
			<div class="">
				<img src="dn-joinsquad.png" />
			</div>
			
			<div class="">
				<img src="dn-comments.png" />
			</div>
		</div>
	</div>
</div>

<div class="col-wide mt-4 bg-muted">
	<div class="col-narrow">
		<div class="phone-grid">	
			<div class="">
				<!-- <img src="dn-livecontest.png" /> -->
				<video class="rounded-[10%/5%] w-full" autoplay playsinline muted loop>
					<source src="dn-livecontest.mp4" type="video/mp4">Your browser does not support the video tag.
				</video>
				<p class="mt-2 text-sm text-muted">Each contest is its own hub of activity with live scores, comments and reactions</p>
			</div>
			<div class="">
				<img class="rounded-xl" src="dn-scorecards.png" />
				<p class="mt-2 text-sm text-muted">Contests display live scores for every available sport</p>
			</div>
		</div>
	</div>
</div>

<div class="col-wide mobile-slide mt-4">
	{% include "_project-image" alt: "" image: "dn-scorecardstates" type: "jpg" size: "100vw" %}
</div>

<div class="col-wide mobile-slide mt-4">
	{% include "_project-image" alt: "" image: "dn-teamcolorsinavatars" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>
		Players can find other users, join groups, follow friends, and join any public contest before it starts.
	</h2>
</div>

<div class="col-wide mt-4 bg-muted">
	<div class="col-narrow">
		<div class="phone-grid">	
			<div class="">
				<img src="dn-browseusers.png" />
			</div>
			<div class="">
				<img src="dn-friend.png" />
			</div>
		</div>
	</div>
</div>


<div class="col-narrow my-24">
	<h3 class="mb-6 text-muted">Credits</h3>
	<ul class="grid grid-cols-2">
		<li class="mb-6">
			<p>Wael Abou-Zaki</p>
			<p class="text-muted mt-0">Project Manager</p>
		</li>
		<li class="mb-6">
			<p>Zachary Self</p>
			<p class="text-muted mt-0">Project Manager</p>
		</li>
		<li class="mb-6">
			<p>Joe Shoop</p>
			<p class="text-muted mt-0">Visual & UX Design</p>
		</li>
	</ul>
</div>