---
layout: project
tags: featured
client: Daily Number
date: 2022-01-01
title-short: "Casual-friendly fantasy sports for Daily Number"
title-long: "Daily Number players pick athletes from nearly any professional sport to go up against a projected score, joining others to cheer and commiserate as live games unfold. I helped the team at Daily Number define a more playful visual language, and used it to design a new quick picks game with social play features for the app."
role: Product, Visual, Brand
image: "dn-intro_1440w.jpg"

bg-default: "rgba(1, 77, 193, 1)"
bg-muted: "rgba(8, 69, 160, 1)"
text-default: "#DBE7FB"
text-muted: "#8FBCFF"
text-interactive: "#DBE7FB"
border-default: "#DBE7FB"
border-muted: "rgba(255, 255, 255, 0.2)"
---

<div class="col-wide">
	{% include "_project-image" alt: "" image: "dn-intro" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>
		Dylan likes to watch sports with friends. He can't always make it in-person, so he'll often check social media during games to see how the crowd is reacting to big plays.
	</h2>
</div>

<img class="w-full" src="dn-user.jpg" />

<h2 class="text-center">
	Daily Number is a place where Dylan can play along with the crowd from his phone and maybe win a little cash, too.
</h2>

<div class="mt-32 col-span-10 sm:col-span-5 sm:col-start-3 xl:col-start-4 xl:col-span-4">
	<img src="dn-style.png" />
	<p class="mt-2 text-sm text-muted">Finding a friendly tone for the UI design by sizing, styling and spacing interface-like shapes</p>
</div>

<div class="mt-32 col-span-6 col-start-7 sm:col-span-3 sm:col-start-8 xl:col-start-8 xl:col-span-2">
	<img src="dn-weathericons.png" />
	<p class="mt-2 text-sm text-muted">Weather icons help capture the style and will later indicate potential cancelled games</p>
</div>

<div class="my-32 col-start-1 col-span-12 sm:col-start-3 sm:col-span-8 xl:col-start-4 xl:col-span-6">
	<h2 class="text-center">
		As Dylan starts a contest, he can make up to 5 picks and modify the scoring rules and entry fee.
	</h2>
</div>

<div class="col-span-8 col-start-1 sm:col-span-3 sm:col-start-3 xl:col-span-2 xl:col-start-4">
	<!-- <img src="dn-startcontest.png" /> -->
	<video class="rounded-[10%/5%] w-full" autoplay playsinline muted loop>
		<source src="dn-startcontest.mp4" type="video/mp4">Your browser does not support the video tag.
	</video>
	<p class="mt-2 text-sm text-muted">Make your picks</p>
</div>

<div class="col-span-8 col-start-6 mt-16 sm:mt-0 sm:col-span-4 sm:col-start-7 xl:col-span-3 xl:col-start-7">
	<!-- <img class="w-full" src="dn-customizecontest.png" /> -->
	<video class="rounded-[10%/5%] w-full" autoplay playsinline muted loop>
		<source src="dn-customizecontest.mp4" type="video/mp4">Your browser does not support the video tag.
	</video>
	<p class="mt-2 text-sm text-muted">Customize the scoring style, odds, and entry</p>
	
</div>

<div class="my-32 col-start-1 col-span-12 sm:col-start-3 sm:col-span-8 xl:col-start-4 xl:col-span-6">
	<h2 class="text-center">
		Before he can submit that perfect lineup, Dylan needs some funds in his in-app&nbsp;wallet.
	</h2>
</div>

<div class="col-span-12 col-start-1 sm:col-start-3 sm:col-span-4 xl:col-start-4 xl:col-span-2 xl:text-sm">
	<p class="text-sm text-muted">Daily Number doesn't charge a transfer fee, but the payment processor does. Because of this behind-the-scenes cost, Daily Number sets a minimum transfer amount to discourage users from initiating a transfer for every bet.</p>
</div>

<div class="col-span-12 col-start-1 mb-8 sm:mt-0 sm:col-start-7 sm:col-span-4 xl:col-start-8 xl:col-span-2 xl:text-sm">
	<p class="text-sm text-muted">On the other end, a maximum transfer amount helps encourage responsible play. Using a range slider instead of a keyboard or num-pad helps reinforce these min/max limits by making it impossible to enter numbers that are out of&nbsp;range.</p>
</div>

<div class="col-start-1 col-span-6 sm:col-start-3 sm:col-span-3 xl:col-start-4 xl:col-span-2">
	<img src="dn-wallet-min.png" />
</div>
<div class="col-start-7 col-span-6 sm:col-start-8 sm:col-span-3 xl:col-start-8 xl:col-span-2">
	<img src="dn-wallet-max.png" />
</div>

<div class="col-start-1 col-span-6 mt-16 sm:mt-16 sm:col-start-3 sm:col-span-3 xl:col-start-4 xl:col-span-2">
	<img src="dn-wallet.png" />
	<p class="mt-2 text-sm text-muted">Your wallet</p>
</div>

<div class="col-start-4 col-span-9 sm:mt-16 sm:col-start-7 sm:col-span-4 xl:col-span-3 xl:col-start-7">
	<!-- <img src="dn-cashout.png" /> -->
	<video class="rounded-[10%/5%] w-full" autoplay playsinline muted loop>
		<source src="dn-cashout.mp4" type="video/mp4">Your browser does not support the video tag.
	</video>
	<p class="mt-2 text-sm text-muted">After a win, cash out</p>
</div>

<div class="my-32 col-start-1 col-span-12 sm:col-start-3 sm:col-span-8 xl:col-start-4 xl:col-span-6">
	<h2 class="text-center">
		Every contest is full of live scores and crowd noise where Dylan can keep up with the action and cheer alongside just friends  or other&nbsp;fans.
	</h2>
</div>

<div class="col-start-1 col-span-6 sm:col-start-3 sm:col-span-4 xl:col-start-4 xl:col-span-3">
	<img src="dn-startsquad.png" />
</div>

<div class="col-start-7 col-span-6 sm:col-start-8 sm:col-span-3 xl:col-start-8 xl:col-span-2">
	<img src="dn-invitetosquad.png" />
</div>

<!-- <div class="col-span-12 sm:-mt-32 sm:col-start-8 sm:col-span-3 xl:col-start-8 xl:col-span-3 xl:-mt-32">
	<p class="text-center my-8 sm:my-0">Play as a squad for a private place to celebrate or commiserate.</p>
</div>
	-->
<div class="col-start-1 col-span-6 sm:mt-16 sm:col-start-3 sm:col-span-3 xl:col-start-4 xl:col-span-2">
	<img src="dn-joinsquad.png" />
</div>

<div class="col-start-7 col-span-6 sm:mt-16 sm:col-start-7 sm:col-span-4 xl:col-start-8 xl:col-span-2">
	<img src="dn-comments.png" />
</div>

<div class="col-start-1 col-span-9 mt-16 sm:mt-32 sm:col-start-3 sm:col-span-4 xl:mt-32 xl:col-start-4 xl:col-span-3">
	<!-- <img src="dn-livecontest.png" /> -->
	<video class="rounded-[10%/5%] w-full" autoplay playsinline muted loop>
		<source src="dn-livecontest.mp4" type="video/mp4">Your browser does not support the video tag.
	</video>
	<p class="mt-2 text-sm text-muted">Each contest is its own hub of activity with live scores, comments and reactions</p>
</div>


<div class="col-start-1 col-span-12 mt-16 sm:mt-32 sm:col-start-7 sm:col-span-3">
	<img class="rounded-xl" src="dn-scorecards.png" />
	<p class="mt-2 text-sm text-muted">Contests display live scores for every available sport</p>
</div>

<div class="my-32 col-start-1 col-span-12 sm:col-start-3 sm:col-span-8 xl:col-start-4 xl:col-span-6">
	<h2 class="text-center">
		Dylan can find other users, join groups, follow friends<br />
	</h2>
</div>

<div class="col-start-1 col-span-6 sm:col-start-2 sm:col-span-3 xl:col-start-4 xl:col-span-2">
	<img src="dn-browseusers.png" />
</div>
<div class="col-start-7 col-span-6 sm:col-start-5 sm:col-span-3 xl:col-start-6 xl:col-span-2">
	<img src="dn-group.png" />
</div>
<div class="col-start-4 col-span-9 sm:col-start-8 sm:col-span-4 xl:col-start-8 xl:col-span-2">
	<img src="dn-friend.png" />
</div>

<div class="mt-32 col-start-1 col-span-12 sm:col-start-3 sm:col-span-8 xl:col-start-4 xl:col-span-6">
	<h2 class="text-center">
		and join any public contest before it starts.
	</h2>
</div>

<div class="col-start-1 col-span-12 my-32 sm:col-start-3 sm:col-span-8 xl:col-start-4 xl:col-span-6">
	<h3 class="mb-6 text-muted">Credits</h3>
	<ul class="grid grid-cols-2">
		<li class="mb-6">
			<p>Wael Abou-Zaki</p>
			<p class="text-muted mt-0">Project Manager</p>
		</li>
		<li class="mb-6">
			<p>Zachary Self</p>
			<p class="text-muted mt-0">Project Manager</p>
		</li>
		<li class="mb-6">
			<p>Joe Shoop</p>
			<p class="text-muted mt-0">Visual & UX Design</p>
		</li>
	</ul>
</div>