---
layout: project
tags: work
client: Starbucks
date: 2018-01-01
title-short: Starbucks

title-long: "Starbucks Times Square can take a souvenir selfie with this touch screen photo booth while they wait for their coffee. I worked with Starbucks to design"

role: Visual, Product
image: "starbucks-cover.png"

bg-default: "#1C322C"
bg-muted: "#2A473F"
text-default: "#CEE6DE"
text-muted: "#AAB5B2"
text-interactive: "#CEE6DE"
border-default: "#CEE6DE"
border-muted: "rgba(255, 255, 255, 0.2)"
---

<div class="col-wide bg-white h-64">
Hero image
</div>