---
layout: project
tags: 
- work
- published
client: Starbucks
date: 2017-01-02
title-short: Starbucks

title-long: "Various projects for Starbucks"

role: Visual, Product
image: "starbucks-cover.png"

bg-default: "#1C322C"
bg-muted: "#2A473F"
text-default: "#CEE6DE"
text-muted: "#AAB5B2"
text-interactive: "#CEE6DE"
border-default: "#CEE6DE"
border-muted: "rgba(255, 255, 255, 0.2)"
---

<div class="col-wide">
	<div class="grid sm:grid-cols-2 gap-4">
		<div class="bg-muted aspect-square">
			{% include "_project-image" alt: "Coffee cup icon for Coffee Passport app" image: "starbucks-passport-1" type: "jpg" %}
		</div>
		<div class="bg-muted aspect-square">
			{% include "_project-image" alt: "French press icon for Coffee Passport app" image: "starbucks-passport-2" type: "jpg" %}
		</div>
	</div>
</div>

<div class="col-narrow my-24">
	<h2>Starbucks Coffee Passport is an app for tasting notes on each roast offered by Starbucks. I helped design some app icons.</h2>
</div>

<div class="col-wide">
	<div class="grid sm:grid-cols-2 gap-4">
		<div class="bg-muted aspect-square">
			{% include "_project-image" alt: "Coffee detail card from Starbucks roastery app" image: "starbucks-roastery-1" type: "jpg" %}
		</div>
		<div class="bg-muted aspect-square">
			{% include "_project-image" alt: "How to make french press from starbucks roastery app" image: "starbucks-roastery-2" type: "jpg" %}
		</div>
	</div>
</div>

<div class="col-wide mt-4">
	{% include "_project-image" alt: "Screenshots from Starbucks roastery app" image: "starbucks-roastery-3" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
	<h2>Starbucks Roastery Shanghai is a celebration of coffee from farm to cup. Visitors can read all about the Wonka-esque inner workings of the roastery and the current beans on offer with an AR-enabled smartphone app.</h2>
</div>

<div class="col-wide mt-4">
	{% include "_project-image" alt: "Screenshots from Starbucks roastery app" image: "starbucks-photobooth-1" type: "jpg" size: "100vw" %}
</div>


<div class="col-narrow my-24">
	<h2>Visitors to Starbucks Time Square can take home a souvenir selfie with this touch screen photo booth while they wait for their coffee. I worked with Starbucks to design a simple interface for this project.</h2>
</div>
