---
layout: default
title: "About"

bg-default: "#202C19"
bg-muted: "#151D11"
text-default: "#E5EEE0"
text-muted: "#90968C"
text-interactive: "#E5EEE0"
border-default: "#E5EEE0"
border-muted: "rgba(255, 255, 255, .25)"
---

<div class="min-h-[50vh] md:min-h-[40vh] flex border-b border-muted pb-4 mb-4">
	<h1 class="self-end">Studio Upleft is the office of Joe Shoop, a designer in Seattle with 15 years experience across visual, UX, and digital product design.</h1>
</div>

<div class="border-b border-muted pb-4 mb-4">
	<p class="text-default mb-4">Contact</p>
	
	<div class="grid grid-cols-3 mb-4">
		<div class="col-start-1 col-span-1">
			<p class="text-muted">LinkedIn</p>
		</div>
		<div class="col-start-2 col-span-2">
			<a class="text-default hover:underline" href="https://www.linkedin.com/in/joeshoop/">@JoeShoop</a>
		</div>
	</div>
	<div class="grid grid-cols-3 mb-4">
		<div class="col-start-1 col-span-1">
			<p class="text-muted">Email</p>
		</div>
		<div class="col-start-2 col-span-2">
			<a class="text-default hover:underline" href='mail&#116;&#111;&#58;st&#117;&#100;%69o&#64;uple&#37;6&#54;&#37;74%2Eco&#109;'>st&#117;di&#111;&#64;&#117;p&#108;eft&#46;co&#109;</a>
		</div>
	</div>
	<div class="grid grid-cols-3 mb-4">
		<div class="col-start-1 col-span-1">
			<p class="text-muted">Instagram</p>
		</div>
		<div class="col-start-2 col-span-2">
			<a href="https://www.instagram.com/studioupleft/" class="text-default hover:underline">@studioupleft</a>
		</div>
	</div>
</div>

<div class="border-b border-muted pb-4 mb-4">	
	<p class="text-default mb-4">Expertise</p>
	<p class="text-muted">Visual design, interface design, typography, design systems, Figma, mobile app design, interaction design, interactive prototypes, HTML/CSS, Tailwind, cooking, driving stick</p>
</div>
<div class="border-b border-muted pb-4 mb-4">
	<p class="text-default mb-4">Select Clients</p>
	<p class="text-muted">Starbucks, Target, Showtime, Sonos, Funko, Air Canada, <a href="/work/wonder/">Wonder</a>, Hazel Health, Blue Nile, Eat This Much, Seattle Children’s Hospital, Shoreline Community College, RADAR, <a href="/work/pyrezo/">Pyrezo</a>, <a href="/work/dailynumber/">Daily Number</a></p>
</div>
<div class="border-b border-muted pb-4 mb-4">
	<p class="text-default mb-4">Experience</p>
	<div class="grid grid-cols-3 mb-4">
		<div class="col-start-1 col-span-1">
			<p class="text-muted">Since 2016</p>
		</div>
		<div class="col-start-2 col-span-2">
			<p class="text-default">Studio Upleft</p>
			<p class="text-muted">Seattle, WA</p>
			<p class="text-muted">Working independently with organizations to design and improve digital experiences</p>
		</div>
	</div>
	<div class="grid grid-cols-3 mb-4">
		<div class="col-start-1 col-span-1">
			<p class="text-muted">2015—2016</p>
		</div>
		<div class="col-start-2 col-span-2">
			<p class="text-default">BookingSuite</p>
			<p class="text-muted">Seattle, WA</p>
			<p class="text-muted">Senior UX Designer</p>
		</div>
	</div>
	<div class="grid grid-cols-3 mb-4">
		<div class="col-start-1 col-span-1">
			<p class="text-muted">2013-2015</p>
		</div>
		<div class="col-start-2 col-span-2">
			<p class="text-default">Freelance</p>
			<p class="text-muted">Seattle, WA</p>
			<p class="text-muted">Working independently with organizations to design and improve digital experiences</p>
		</div>
	</div>
	<div class="grid grid-cols-3 mb-4">
		<div class="col-start-1 col-span-1">
			<p class="text-muted">2010-2013</p>
		</div>
		<div class="col-start-2 col-span-2">
			<p class="text-default">Übermind/Deloitte Digital</p>
			<p class="text-muted">Seattle, WA</p>
			<p class="text-muted">Design for Target and Showtime iOS apps</p>
		</div>
	</div>
	<div class="grid grid-cols-3 mb-4">
		<div class="col-start-1 col-span-1">
			<p class="text-muted">2008-2010</p>
		</div>
		<div class="col-start-2 col-span-2">
			<p class="text-default">Big Fish Games</p>
			<p class="text-muted">Seattle, WA</p>
			<p class="text-muted">Design for marketing websites and online promotions</p>
		</div>
	</div>
	<div class="grid grid-cols-3 mb-4">
		<div class="col-start-1 col-span-1">
			<p class="text-muted">2007-2008</p>
		</div>
		<div class="col-start-2 col-span-2">
			<p class="text-default">Microsoft</p>
			<p class="text-muted">Redmond, WA</p>
			<p class="text-muted">UX Designer (Contract) on Office Live</p>
		</div>
	</div>
	<div class="grid grid-cols-3 mb-4">
		<div class="col-start-1 col-span-1">
			<p class="text-muted">2007</p>
		</div>
		<div class="col-start-2 col-span-2">
			<p class="text-default">Western Washington University</p>
			<p class="text-muted">Bellingham, WA</p>
			<p class="text-muted">Bachelor of Art and Design</p>
		</div>
	</div>
</div>

<div class="border-b border-muted pb-4 mb-4">
	<p class="text-default mb-4">Colophon</p>
	<p class="text-muted">This website was designed and coded by Joe Shoop in the fall of 2023. Typefaces are <a href="https://fontlibrary.org/en/font/urw-classico">URW Classico</a> and <a href="https://newglyph.com/classic-collection/#font-antarctica">Antarctica</a>. Made with <a href="https://nova.app/">Nova</a>, <a href="https://tailwindcss.com/">Tailwind</a>, <a href="https://github.com/barbajs/barba">barba</a>, <a href="https://github.com/dixonandmoe/rellax">rellax</a>, <a href="https://codekitapp.com/help/kit/">CodeKit</a> and <a href="https://desktop.github.com/">GitHub</a>.</p>
</div>