---
layout: default
title: "About"
---

<div class="flow container --w-md --py-xl">

	<div>
		<p class="--text-muted">Songs</p>
		<h1 class="--text-lg --font-serif">Please Be Patient With Me (solo acoustic)
		</h1>
		<p class="--text-muted --font-serif">+ Chit-Chat Check-In #88: One of the Main Reasons I Write Songs</p>
	</div>
	<div class="card">
		<div class="--py-lg --px-lg">
			<p class="--text-lg --font-serif">Please Be Patient With Me (solo acoustic)
			</p>
		</div>
	</div>
	<div class="card">
		<div class="--py-md --px-md">
			<p>Middle</p>
		</div>
	</div>
	<div class="card">
		<div class="--py-sm --px-sm">
			<p class="--text-sm">Low</p>
		</div>
	</div>
	<div class="button --strong">
		Strong
	</div>
	<div class="button --default">
		Default
	</div>
	<div class="button --muted">
		Muted
	</div>
	<div class="button --error">
		Error
	</div>
	<div class="button --disabled">
		Disabled
	</div>


	<h2>Contact</h2>
	<a href="https://www.linkedin.com/in/joeshoop/">LinkedIn</a>
	<a href='mail&#116;&#111;&#58;st&#117;&#100;%69o&#64;uple&#37;6&#54;&#37;74%2Eco&#109;'>Email</a>
	<a href="https://www.instagram.com/studioupleft/">Instagram</a>


	<div>
		<h2>Expertise</h2>
		<p>Visual design, interface design, typography, design systems, Figma, mobile app design, interaction design, interactive prototypes, HTML/CSS, cooking, driving stick</p>
	</div>

	<div>
		<h2>Select Clients</h2>
		<p>Starbucks, Target, Showtime, Sonos, Funko, Air Canada, <a href="/work/wonder/">Wonder</a>, Hazel Health, Blue Nile, Eat This Much, Seattle Children’s Hospital, Shoreline Community College, RADAR, <a href="/work/pyrezo/">Pyrezo</a>, <a href="/work/dailynumber/">Daily Number</a></p>
	</div>

	<div>
		<h2>Experience</h2>
	</div>
	<div>
		<h3>Studio Upleft</h3>
		<ul>
			<li>
				<p>Founder & Independent Product Designer</p>
			</li>
			<li>
				<p>2016—Present</p>
			</li>
			<li>
				<p>Independently led design for mobile and web-based projects, with a focus on digital experiences that visually communicate complex interactivity to a diverse audience.</p>
			</li>
		</ul>
	</div>

	<div>
		<h3>BookingSuite</h3>
		<p class="text-muted">2015—2016</p>
		<p>Seattle, WA</p>
		<p>Product Designer</p>
	</div>
	<div>
		<h3>Colophon</h3>
		<p>This website was designed and coded by Joe Shoop in the fall of 2023. Typeface is <a href="https://newglyph.com/classic-collection/#font-antarctica">Antarctica</a>. Made with <a href="https://nova.app/">Nova</a>, <a href="https://tailwindcss.com/">Tailwind</a>, <a href="https://www.11ty.dev/">11ty</a> and <a href="https://desktop.github.com/">GitHub</a>.</p>
	</div>
</div>