:root {

	/* Fonts */
	--font-sans: system-ui, sans-serif;
	--font-serif: 'Times New Roman', serif;
	--font-lg: clamp(18px, 1vw + 1rem, 26px);
	--font-md: 16px;
	--font-sm: 14px;

	/* Spacing */
	--spacing: 1em;
	--spacing-xs: calc(0.25 * var(--spacing));
	--spacing-sm: calc(0.5 * var(--spacing));
	--spacing-md: var(--spacing);
	--spacing-lg: calc(1.5 * var(--spacing));
	--spacing-xl: calc(2.5 * var(--spacing));
	--spacing-2xl: calc(5 * var(--spacing));
	--spacing-width-xs: 16rem;
	--spacing-width-md: 36rem;
	--spacing-width-xl: 52rem;

	/* Neutral Palette */
	--neutral-50: hsla(108, 1%, 96%, 1);
	--neutral-100: hsla(108, 1%, 89%, 1);
	--neutral-200: hsla(108, 1%, 78%, 1);
	--neutral-300: hsla(108, 1%, 64%, 1);
	--neutral-400: hsla(108, 1%, 50%, 1);
	--neutral-500: hsla(108, 1%, 40%, 1);
	--neutral-600: hsla(108, 1%, 32%, 1);
	--neutral-700: hsla(108, 1%, 26%, 1);
	--neutral-800: hsla(108, 1%, 22%, 1);
	--neutral-900: hsla(108, 1%, 15%, 1);
	--neutral-950: hsla(108, 1%, 10%, 1);

	/* Light Theme Colors */
	--bg-strong: var(--neutral-50);
	--bg-default: var(--neutral-100);
	--bg-muted: var(--neutral-100);
	--bg-selection: hsla(0, 0%, 0%, 0.3);

	--text-strong: var(--neutral-950);
	--text-default: var(--neutral-800);
	--text-muted: var(--neutral-500);
	--text-interactive: var(--neutral-950);

	--border-strong: var(--neutral-600);
	--border-default: var(--neutral-400);
	--border-muted: var(--neutral-200);

	/* Light Elevation */
	--shadow-sm: 0px 8px 12px -16px rgba(0, 0, 0, 1);
	--shadow-md: 0px 8px 12px -16px rgba(0, 0, 0, 1);
	--shadow-lg: 0px 24px 40px -24px rgba(0, 0, 0, 0.6);
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Dark Theme Colors */
		--bg-strong: var(--neutral-950);
		--bg-default: var(--neutral-900);
		--bg-muted: var(--neutral-800);
		--bg-selection: hsla(0, 0%, 100%, 0.3);

		--text-strong: var(--neutral-50);
		--text-default: var(--neutral-100);
		--text-muted: var(--neutral-300);
		--text-interactive: var(--neutral-50);

		--border-strong: var(--neutral-300);
		--border-default: var(--neutral-600);
		--border-muted: var(--neutral-800);

		/* Dark Elevation */
		--shadow-sm: 0px 8px 12px -16px rgba(0, 0, 0, 1);
		--shadow-md: 0px 12px 16px -18px rgba(0, 0, 0, 1);
		--shadow-lg: 0px 24px 40px -24px rgba(0, 0, 0, 0.6);
	}
}

body {
	background: var(--bg-default);
	color: var(--text-default);
	font-family: var(--font-sans);
	font-size: var(--font-md);
}

body {
	line-height: 1.5em;
}

::selection {
	background-color: var(--border-muted);
}

a {
	color: var(--text-interactive);
	text-decoration: underline;
	text-decoration-color: var(--text-muted);
}

a:hover {
	text-decoration-color: var(--text-interactive);
}

h1 {
	font-size: var(--font-md);
	color: var(--text-strong);
	font-weight: 400;
}

h2 {
	font-size: var(--font-md);
	color: var(--text-muted);
	font-weight: 400;
}

h3 {
	font-size: var(--font-md);
	color: var(--text-muted);
	font-weight: 400;
}

h4 {
	font-size: var(--font-sm);
	color: var(--text-muted);
	font-weight: 400;
}

p {
	font-size: var(--font-md);
	font-weight: 400;
}

p+p {
	margin-top: var(--spacing-sm);
}

.font-sans,
.font-default {
	font-family: var(--font-sans);
}

.font-serif,
.font-alternate {
	font-family: var(--font-serif);
}

.text-lg {
	font-size: var(--font-lg);
	line-height: 125%;
}

.text-md {
	font-size: var(--font-md);
	line-height: 125%;
}

.text-sm {
	font-size: var(--font-sm);
	line-height: 125%;
}

/* Background Color */

.bg-strong {
	background-color: var(--bg-strong);
}

.bg-default {
	background-color: var(--bg-default);
}

.bg-muted {
	background-color: var(--bg-muted);
}

.bg-hover-strong:hover {
	background-color: var(--bg-default);
}

/* Text Color */

.text-strong {
	color: var(--text-strong);
}

.text-default {
	color: var(--text-default);
}

.text-muted {
	color: var(--text-muted);
}

.text-interactive {
	color: var(--text-interactive);
}

/* Border */

hr,
.rule {
	border: 1px solid var(--border-muted);
}

.border-strong {
	border-color: var(--border-strong);
}

.border-default {
	border-color: var(--border-default);
}

.border-muted {
	border-color: var(--border-muted);
}

.shadow-sm {
	box-shadow: var(--shadow-sm);
}

.shadow-md {
	box-shadow: var(--shadow-md);
}

.shadow-lg {
	box-shadow: var(--shadow-lg);
}

/* Layout */

.flow>*+* {
	margin-top: var(--spacing-lg);
}

.container-xs {
	position: relative;
	width: 100%;
	max-width: var(--spacing-width-xs);
	margin: 0 auto;
}

.container-md {
	position: relative;
	width: 100%;
	max-width: var(--spacing-width-md);
	margin: 0 auto;
}

.container-xl {
	position: relative;
	width: 100%;
	max-width: var(--spacing-width-xl);
	margin: 0 auto;
}

/* Padding Top */

.pt-xs {
	padding-top: var(--spacing-xs);
}

.pt-sm {
	padding-top: var(--spacing-sm);
}

.pt-md {
	padding-top: var(--spacing-md);
}

.pt-lg {
	padding-top: var(--spacing-lg);
}

.pt-xl {
	padding-top: var(--spacing-xl);
}

.pt-2xl {
	padding-top: var(--spacing-2xl);
}

/* Padding Bottom */

.pb-xs {
	padding-bottom: var(--spacing-xs);
}

.pb-sm {
	padding-bottom: var(--spacing-sm);
}

.pb-md {
	padding-bottom: var(--spacing-md);
}

.pb-lg {
	padding-bottom: var(--spacing-lg);
}

.pb-xl {
	padding-bottom: var(--spacing-xl);
}

.pb-2xl {
	padding-bottom: var(--spacing-2xl);
}

/* Padding Y */

.py-xs {
	padding-top: var(--spacing-xs);
	padding-bottom: var(--spacing-xs);
}

.py-sm {
	padding-top: var(--spacing-sm);
	padding-bottom: var(--spacing-sm);
}

.py-md {
	padding-top: var(--spacing-md);
	padding-bottom: var(--spacing-md);
}

.py-lg {
	padding-top: var(--spacing-lg);
	padding-bottom: var(--spacing-lg);
}

.py-xl {
	padding-top: var(--spacing-xl);
	padding-bottom: var(--spacing-xl);
}

.py-2xl {
	padding-top: var(--spacing-2xl);
	padding-bottom: var(--spacing-2xl);
}