:root {

	/* Fonts */
	--font-display: 'Antarctica', 'SF Pro Display', system-ui, sans-serif;
	--font-sans: 'SF Pro', system-ui, sans-serif;
	--font-serif: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
	--font-lg: clamp(20px, -0.75rem + 5vw, 28px);
	--font-md: 16px;
	--font-sm: 14px;

	/* Spacing */
	--spacing: clamp(16px, -0.75rem + 5vw, 24px);
	--spacing-xs: calc(0.25 * var(--spacing));
	--spacing-sm: calc(0.5 * var(--spacing));
	--spacing-md: var(--spacing);
	--spacing-lg: calc(1.5 * var(--spacing));
	--spacing-xl: calc(2.5 * var(--spacing));
	--spacing-2xl: calc(5 * var(--spacing));
	--spacing-width-xs: 16rem;
	--spacing-width-md: 36rem;
	--spacing-width-xl: 52rem;

	/* Neutral Palette */
	--neutral-50: hsla(108, 1%, 96%, 1);
	--neutral-100: hsla(108, 1%, 89%, 1);
	--neutral-200: hsla(108, 1%, 78%, 1);
	--neutral-300: hsla(108, 1%, 64%, 1);
	--neutral-400: hsla(108, 1%, 50%, 1);
	--neutral-500: hsla(108, 1%, 40%, 1);
	--neutral-600: hsla(108, 1%, 32%, 1);
	--neutral-700: hsla(108, 1%, 26%, 1);
	--neutral-800: hsla(108, 1%, 22%, 1);
	--neutral-900: hsla(108, 1%, 15%, 1);
	--neutral-950: hsla(108, 1%, 10%, 1);

	/* Light Theme Colors */
	--bg-strong: var(--neutral-50);
	--bg-default: var(--neutral-100);
	--bg-muted: var(--neutral-200);
	--bg-selection: hsla(0, 0%, 0%, 0.3);

	--text-strong: var(--neutral-950);
	--text-default: var(--neutral-800);
	--text-muted: var(--neutral-500);
	--text-interactive: var(--neutral-950);

	--border-strong: var(--neutral-600);
	--border-default: var(--neutral-400);
	--border-muted: var(--neutral-200);

	/* Light Elevation */
	--shadow-sm: 0px 8px 12px -16px rgba(0, 0, 0, 1);
	--shadow-md: 0px 8px 12px -16px rgba(0, 0, 0, 1);
	--shadow-lg: 0px 24px 40px -24px rgba(0, 0, 0, 0.6);
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Dark Theme Colors */
		--bg-strong: var(--neutral-950);
		--bg-default: var(--neutral-900);
		--bg-muted: var(--neutral-800);
		--bg-selection: hsla(0, 0%, 100%, 0.3);

		--text-strong: var(--neutral-50);
		--text-default: var(--neutral-100);
		--text-muted: var(--neutral-300);
		--text-interactive: var(--neutral-50);

		--border-strong: var(--neutral-300);
		--border-default: var(--neutral-600);
		--border-muted: var(--neutral-800);

		/* Dark Elevation */
		--shadow-sm: 0px 8px 12px -16px rgba(0, 0, 0, 1);
		--shadow-md: 0px 12px 16px -18px rgba(0, 0, 0, 1);
		--shadow-lg: 0px 24px 40px -24px rgba(0, 0, 0, 0.6);
	}
}

body {
	background: var(--bg-default);
	color: var(--text-default);
	font-family: var(--font-sans);
	font-size: var(--font-md);
	line-height: 1.5em;
}

::selection {
	background-color: var(--border-muted);
}

img {
	max-width: 100%;
	display: flex;
	background: var(--bg-muted);
}

a {
	color: var(--text-interactive);
	text-decoration: underline;
	text-decoration-color: var(--text-muted);
	text-underline-offset: 0.125em;
}

a:hover {
	text-decoration-color: var(--text-interactive);
}

h1 {
	font-family: var(--font-display);
	font-size: var(--font-lg);
	color: var(--text-strong);
	font-weight: 700;
	letter-spacing: clamp(0em, 1vw + 1rem, -0.3em);
}

h2 {
	font-size: var(--font-md);
	color: var(--text-default);
	font-weight: 700;
	letter-spacing: clamp(0em, 1vw + 1rem, -0.02em);
}

h3 {
	font-size: var(--font-md);
	color: var(--text-muted);
	font-weight: 500;
}

h4 {
	font-size: var(--font-sm);
	color: var(--text-muted);
	font-weight: 500;
}

p {
	font-size: var(--font-md);
	font-weight: 500;
	letter-spacing: clamp(-0.02em, 1vw + 1rem, -0.02em);
}

p+p {
	margin-top: var(--spacing-sm);
}

.--font-sans,
.--font-default {
	font-family: var(--font-sans);
}

.--font-serif,
.--font-alternate {
	font-family: var(--font-serif);
}

/* Text Size */

.--text-lg {
	font-size: var(--font-lg);
	line-height: 125%;
	letter-spacing: clamp(0em, 1vw + 1rem, -0.03em);
}

.--text-md {
	font-size: var(--font-md);
	line-height: 125%;
}

.--text-sm {
	font-size: var(--font-sm);
	line-height: 125%;
}

/* Text Color */

.--text-strong {
	color: var(--text-strong);
}

.--text-default {
	color: var(--text-default);
}

.--text-muted {
	color: var(--text-muted);
}

.--text-interactive {
	color: var(--text-interactive);
}

/* Background Color */

.--bg-strong {
	background-color: var(--bg-strong);
}

.--bg-default {
	background-color: var(--bg-default);
}

.--bg-muted {
	background-color: var(--bg-muted);
}

/* Border */

hr,
.rule {
	border: 1px solid var(--border-muted);
	/* For retina screens */
	transform: scaleY(0.5);
}

.--border-strong {
	border-color: var(--border-strong);
}

.--border-default {
	border-color: var(--border-default);
}

.--border-muted {
	border-color: var(--border-muted);
}

/* Shadow */

.--shadow-sm {
	box-shadow: var(--shadow-sm);
}

.--shadow-md {
	box-shadow: var(--shadow-md);
}

.--shadow-lg {
	box-shadow: var(--shadow-lg);
}

/* Layout */

.--w-xs {
	max-width: var(--spacing-width-xs, 20rem);
}

.--w-md {
	max-width: var(--spacing-width-md, 40rem);
}

.--w-xl {
	max-width: var(--spacing-width-xl, 50rem);
}

/* Padding Top */

.--pt-xs {
	padding-top: var(--spacing-xs);
}

.--pt-sm {
	padding-top: var(--spacing-sm);
}

.--pt-md {
	padding-top: var(--spacing-md);
}

.--pt-lg {
	padding-top: var(--spacing-lg);
}

.--pt-xl {
	padding-top: var(--spacing-xl);
}

.--pt-2xl {
	padding-top: var(--spacing-2xl);
}

/* Padding Right */

.--pr-xs {
	padding-right: var(--spacing-xs);
}

.--pr-sm {
	padding-right: var(--spacing-sm);
}

.--pr-md {
	padding-right: var(--spacing-md);
}

.--pr-lg {
	padding-right: var(--spacing-lg);
}

.--pr-xl {
	padding-right: var(--spacing-xl);
}

.--pr-2xl {
	padding-right: var(--spacing-2xl);
}

/* Padding Bottom */

.--pb-xs {
	padding-bottom: var(--spacing-xs);
}

.--pb-sm {
	padding-bottom: var(--spacing-sm);
}

.--pb-md {
	padding-bottom: var(--spacing-md);
}

.--pb-lg {
	padding-bottom: var(--spacing-lg);
}

.--pb-xl {
	padding-bottom: var(--spacing-xl);
}

.--pb-2xl {
	padding-bottom: var(--spacing-2xl);
}

/* Padding Left */

.--pl-xs {
	padding-left: var(--spacing-xs);
}

.--pl-sm {
	padding-left: var(--spacing-sm);
}

.--pl-md {
	padding-left: var(--spacing-md);
}

.--pl-lg {
	padding-left: var(--spacing-lg);
}

.--pl-xl {
	padding-left: var(--spacing-xl);
}

.--pl-2xl {
	padding-left: var(--spacing-2xl);
}

/* Padding Y */

.--py-xs {
	padding-top: var(--spacing-xs);
	padding-bottom: var(--spacing-xs);
}

.--py-sm {
	padding-top: var(--spacing-sm);
	padding-bottom: var(--spacing-sm);
}

.--py-md {
	padding-top: var(--spacing-md);
	padding-bottom: var(--spacing-md);
}

.--py-lg {
	padding-top: var(--spacing-lg);
	padding-bottom: var(--spacing-lg);
}

.--py-xl {
	padding-top: var(--spacing-xl);
	padding-bottom: var(--spacing-xl);
}

.--py-2xl {
	padding-top: var(--spacing-2xl);
	padding-bottom: var(--spacing-2xl);
}

/* Padding X */

.--px-xs {
	padding-right: var(--spacing-xs);
	padding-left: var(--spacing-xs);
}

.--px-sm {
	padding-right: var(--spacing-sm);
	padding-left: var(--spacing-sm);
}

.--px-md {
	padding-right: var(--spacing-md);
	padding-left: var(--spacing-md);
}

.--px-lg {
	padding-right: var(--spacing-lg);
	padding-left: var(--spacing-lg);
}

.--px-xl {
	padding-right: var(--spacing-xl);
	padding-left: var(--spacing-xl);
}

.--px-2xl {
	padding-right: var(--spacing-2xl);
	padding-left: var(--spacing-2xl);
}