/* Default Color Scheme */
:root {
	--bg-strong: hsla(360, 27%, 4%, 1);
	--bg-default: hsla(234, 8%, 11%, 1);
	--bg-muted: hsla(49, 14%, 89%, 1);
	--bg-selection: hsla(0, 0%, 100%, 0.3);
	--text-strong: hsla(0, 0%, 100%, 1);
	--text-default: hsla(70, 3%, 87%, 1);
	--text-muted: hsla(0, 5%, 55%, 1);
	--text-interactive: var(--text-strong);
	--border-strong: var(--text-strong);
	--border-default: hsla(0, 0%, 100%, 0.3);
	--border-muted: hsla(0, 0%, 100%, 0.1);
	--font-sans: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	--font-serif: 'Times New Roman', sans-serif;

	--font-lg: 24px;
	--font-md: 16px;
	--font-sm: 14px;
	--font-size-serif: 18px;
	--spacing: 1.5em;
	--spacing-sm: calc(0.5 * var(--spacing));
	--spacing-md: var(--spacing);
	--spacing-lg: calc(1.5 * var(--spacing));
	--spacing-xl: calc(2.5 * var(--spacing));
	--spacing-2xl: calc(5 * var(--spacing));
	--spacing-col: calc(6 * var(--spacing));
	--spacing-width-max: 38rem;
	--spacing-width-tiny: 15rem;
	--spacing-width-xl: 50rem;
}

@font-face {
	font-family: 'Antarctica';
	src: url('../_fonts/Antarctica-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tiempos';
	src: url('../_fonts/TiemposHeadlineLight.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
}

/* Background Color Utility Styles */

.bg-strong {
	background-color: var(--bg-strong);
}

.bg-default {
	background-color: var(--bg-default);
}

.bg-muted {
	background-color: var(--bg-muted);
}

/* Text Color */

.text-strong {
	color: var(--text-strong);
}

.text-default {
	color: var(--text-default);
}

.text-muted {
	color: var(--text-muted);
}

.text-interactive {
	color: var(--text-interactive);
}

/* Border Color */

.border-strong {
	border-color: var(--border-strong);
}

.border-default {
	border-color: var(--border-default);
}

.border-muted {
	border-color: var(--border-muted);
}

.font-serif {
	font-family: var(--font-serif);
}

.font-sans {
	font-family: var(--font-sans);
}

.width-max {
	width: var(--spacing-width-max);
	margin: 0 auto;
}

.width-tiny {
	width: var(--spacing-width-tiny);
	margin: 0 auto;
}

.width-xl {
	width: var(--spacing-width-xl);
	margin: 0 auto;
}



::selection {
	background-color: var(--border-muted);
}


body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: var(--bg-default);
	color: var(--text-default);
	font-family: var(--font-sans);
	font-weight: normal;
	font-size: var(--font-md);
	padding: var(--spacing-md);
}

a {
	color: var(--text-interactive);
	text-decoration: underline
}

hr {
	max-width: var(--spacing-width-max);
	margin: var(--spacing-xl) auto;
	border: 1px solid var(--border-muted);
}

h1 {
	font-size: var(--font-md);
	color: var(--text-default);
	font-weight: 400;
	line-height: 110%;
	max-width: var(--spacing-width-max);
	margin: var(--spacing-md) auto;
}

h2 {
	font-size: var(--font-md);
	color: var(--text-muted);
	font-weight: 400;
	line-height: 110%;
	max-width: var(--spacing-width-max);
	margin: var(--spacing-sm) auto;
}

h3 {
	font-size: var(--font-md);
	color: var(--text-muted);
	font-weight: 400;
	line-height: 110%;
	max-width: var(--spacing-width-max);
	margin: 0 auto;
}

p {
	font-size: var(--font-md);
}

p+p {
	margin-top: var(--spacing-sm);
}

.label {
	color: var(--text-muted);
}

.text-lg {
	font-size: var(--font-lg);
}

.text-md {
	font-size: var(--font-md);
}

.text-sm {
	font-size: var(--font-sm);
}

/* Media */

.thumbnail {
	background-size: cover;
	background-position: center;
	aspect-ratio: 6 / 4;
	border-radius: var(--spacing-sm)
}


/* Main Navigation */

nav,
.nav {
	width: var(--spacing-width-max);
	margin: 0 auto;
	border-bottom: 1px solid var(--border-muted);
}

.nav-items {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	gap: var(--spacing-sm);
}

.nav-item {
	border-bottom: 1px;
	margin-bottom: -1px;
	border-color: var(--border-default);
}

.nav-item.active {
	border-bottom: 1px solid var(--border-strong);
}

.nav-item-content {
	display: inline-block;
	padding: var(--spacing-sm) 0;
	text-decoration: none;
}

.nav-item:not(.active)>a.nav-item-content:hover {
	border-bottom: 1px solid var(--border-default);
	color: var(--text-default);
	margin-bottom: -1px;
}

/* Layout */


.intro {
	width: var(--spacing-width-max);
	margin: var(--spacing-sm) auto;
}

.content {
	max-width: var(--spacing-width-max);
	margin: 0 auto;
	padding-bottom: var(--spacing-md);
}

.featured-items {
	max-width: var(--spacing-width-xl);
	margin: 0 auto;
	list-style-type: none;
}

.featured-item {
	margin: var(--spacing-xl) auto;
}

.featured-item .title {
	font-size: var(--font-lg);
}

.featured-item a {
	text-decoration: none;
}

.published-items {
	max-width: var(--spacing-width-xl);
	margin: 0 auto;
	list-style-type: none;
	display: grid;
	gap: 2em 1em;
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.published-item a {
	text-decoration: none;
}

.published-item .title {
	margin-top: var(--spacing-sm)
}

.published-item .label {
	margin-top: 0;
}

footer {
	border-top: 1px solid var(--border-muted);
	padding-top: var(--spacing-md);
	max-width: var(--spacing-width-max);
	margin: var(--spacing-xl) auto;
}