---
layout: project
tags: 
- work
- published
client: Julep
date: 2014-01-02
title-short: Beauty box companion app for Julep

title-long: "Julep was expanding their monthly beauty box subscription with new tiers, letting subscribers customize which items they wanted in their upcoming box. I worked with Toy Rockets to design a new iPhone App for Julep that included this upgraded flexibility and helped clarify how to take advantage of these new features."

role: Visual, Product
image: "julep-intro_1440w.jpg"

bg-default: "#F0F2F8"
bg-muted: "#FFF"
text-default: "#C327B9"
text-muted: "#78797C"
text-interactive: "#C327B9"
border-default: "#C327B9"
border-muted: "rgba(0, 0, 0, 0.2)"
---

<div class="col-wide">
    {% include "_project-image" alt: "A phone displaying the Julep app while hovering above a pink background" image: "julep-intro" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
    <p>Phase 1—Minimum Viable Product</p>
    <h2>At first, the Maven App was exclusive to existing Julep Maven subscribers. Customers could see what was included in next month's box and pick a different style if they preferred, and sometimes choose a color for an&nbsp;item.</h2>
</div>

<div class="col-wide bg-[#F9F9F9] pt-16">
    {% include "_project-image" alt: "A phone displaying the Julep app while hovering above a pink background" image: "julep-01" type: "jpg" size: "100vw" %}
    {% include "_project-image" alt: "A phone displaying the Julep app while hovering above a pink background" image: "julep-02" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
    <p>Phase 2—Customize the entire box</p>
    <h2>Later, after the changes and upgrades to the Maven subscription were introduced, the app was updated so subscribers had more control over customizing their box. Instead of just picking between a few color options for an item, users can now individually choose each item in their&nbsp;box.</h2>
</div>

<div class="col-wide bg-[#F9F9F9] pt-16">
    {% include "_project-image" alt: "A phone displaying the Julep app while hovering above a pink background" image: "julep-03" type: "jpg" size: "100vw" %}
</div>

<div class="col-narrow my-24">
    <p>Phase 3—A Complete shopping experience</p>
    <h2>Finally, all products available on the website became browseable, searchable, and available for purchase in the app. The app received another update which included browseable categories, a cart and a full checkout&nbsp;flow.</h2>
</div>

<div class="col-wide bg-[#F9F9F9] pt-16">
    {% include "_project-image" alt: "A phone displaying the Julep app while hovering above a pink background" image: "julep-04" type: "jpg" size: "100vw" %}
</div>